<app-menu-bar class="menu-bar"></app-menu-bar>

<div class="main_section app_mainsection">

    <div class="containAll">
      <div class="notLogged_Holder">
        <div *ngIf="isConnected">
          <button
            mat-flat-button
            class="newconnect_btn wid1 btn_x"
            *ngIf="isConnected"
            (click)="showMetamaskContent()"
          >
            Log in to Metamask to Continue...
          </button>
        </div>
    </div>
        <form name="appForm" [formGroup]="requiredForm" novalidate>
            <div class="DContainer">
                <div class="D2Container" *ngIf="!isConnected">
                  
                  <!-- <button (click)="checkck()">Test</button> -->
                    <p class="yelD">Application</p>
                    <p class="fil1">Fill out the application form which will be reviewed by all DAO members and voted.<br/>if it recieves majority votes it will pass for funding.</p>
                    <hr/>
                    <div class="form-group">
                        <p class="title1">Project Name*</p>
                        <input type="text"  placeholder="Enter project name" [(ngModel)]="ProjectName" class="form-control" formControlName="name" required>
                    </div>
                    <div *ngIf="requiredForm.controls['name'].invalid && requiredForm.controls['name'].touched" class=" redB alert alert-danger">
                        <div class="" *ngIf="requiredForm.controls['name'].errors.required">
                          <p class="redUp">Name is required.</p>
                        </div>
                    </div>
                        <br/>
                    <p class="title1 Wcount">15 word description about the project*</p> <span id="wordcountIn"></span>
                    <input type="text" class="input" id="myWordsToCountUp"  placeholder="Project description" class="form-control" formControlName="DescriptionOne" (keyup)="onTextChangeIn($event)" [(ngModel)]="ProjectDes1">
                    <div *ngIf="requiredForm.controls['DescriptionOne'].invalid && requiredForm.controls['DescriptionOne'].touched" class=" redB alert alert-danger">
                        <div class="" *ngIf="requiredForm.controls['DescriptionOne'].errors.required">
                            <p class="redUp">Description is required.</p>
                        </div>
                    </div>
                        <br/>
                    <p class="title1 Wcount">500 word description about the project*</p><span id="wordcount"></span>
  
                        <!-- <input class="FHDes" type="textarea" placeholder="Project Description"> -->
                    <textarea class="FHDes" id="myWordsToCount"   (keyup)="onTextChange($event)" placeholder="Project Description" [(ngModel)]="ProjectDes2" class="form-control" formControlName="DescriptionTwo"></textarea>
                    <div *ngIf="requiredForm.controls['DescriptionTwo'].invalid && requiredForm.controls['DescriptionTwo'].touched" class=" redB alert alert-danger">
                        <div class="" *ngIf="requiredForm.controls['DescriptionTwo'].errors.required">
                            <p class="redUp">Description is required.</p>
                        </div>
                    </div>
                        <br/>
                        <p class="title1">Team Members</p>

                    <div class="DInContainer" id="first">
                        <div class="FIndiv">
                            <p class="title1">Name*</p>
                            <input type="text" placeholder="Enter Team member name" [(ngModel)]="TeamName1" class="form-control" formControlName="TeamNameZero">
                            <div *ngIf="requiredForm.controls['TeamNameZero'].invalid && requiredForm.controls['TeamNameZero'].touched" class="redB alert alert-danger">
                                <div class="" *ngIf="requiredForm.controls['TeamNameZero'].errors.required">
                                    <p class="redUp">Name is required.</p>
                                </div>
                            </div>
                        <p class="title1">Social media link 1*</p>
                        <input  type="text" placeholder="Enter Social media link" [(ngModel)]="TeamSocialLink1" class="form-control" formControlName="LinkZero">
                        <div *ngIf="requiredForm.controls['LinkZero'].invalid && requiredForm.controls['LinkZero'].touched" class=" redB alert alert-danger">
                            <div class="" *ngIf="requiredForm.controls['LinkZero'].errors.required">
                                <p class="redUp">Social media link is required.</p>
                            </div>
                        </div>
                    </div>
                    
                      <div class="FIn2div">
                        <p class="title1">Designation*</p>
                        <input type="text" placeholder="Enter designation" [(ngModel)]="Designation1" class="form-control" formControlName="DesignationZero">
                        <div *ngIf="requiredForm.controls['DesignationZero'].invalid && requiredForm.controls['DesignationZero'].touched" class=" redB alert alert-danger">
                          <div class="" *ngIf="requiredForm.controls['DesignationZero'].errors.required">
                            <p class="redUp">Designation is required.</p>
                        </div>
                      </div>
                        <p class="title1">Social media link 2</p>
                        <input type="text" placeholder="Enter Social media link" [(ngModel)]="TeamSocialLink12ndinput">
                    </div>
                    
                    </div>
                    <br/>
                    <p class="title1">About*</p>
                    <input type="text" placeholder="A short description about role" [(ngModel)]="AboutTeam1" class="form-control" formControlName="AboutZero" required>
                    <div *ngIf="requiredForm.controls['AboutZero'].invalid && requiredForm.controls['AboutZero'].touched" class=" redB alert alert-danger">
                      <div class="" *ngIf="requiredForm.controls['AboutZero'].errors.required">
                        <p class="redUp">Role is required.</p>
                    </div>
                    </div>    
                    <button (click)="team1()" class="YelCol" id="firstteambtn">+Add team member</button>
                    <hr/>
                    
                            
                        
                    <div id="one" class="one">
                        <div class="DInContainer" >
                            <div class="FIndiv">
                                <p class="title1">Name*</p>
                                <input type="text" placeholder="Enter Team member name"  [(ngModel)]="TeamName2" class="form-control" formControlName="TeamNameOne">
                                <div *ngIf="requiredForm.controls['TeamNameOne'].invalid && requiredForm.controls['TeamNameOne'].touched" class=" redB alert alert-danger">
                                    <div class="" *ngIf="requiredForm.controls['TeamNameOne'].errors.required">
                                        <p class="redUp">Name is required.</p>
                                    </div>
                                </div>
                          
                                <p class="title1">Social media link 1*</p>
                                <input type="text" placeholder="Enter Social media link" [(ngModel)]="TeamSocialLink2" class="form-control" formControlName="LinkOne">
                                <div *ngIf="requiredForm.controls['LinkOne'].invalid && requiredForm.controls['LinkOne'].touched" class=" redB alert alert-danger">
                                    <div class="" *ngIf="requiredForm.controls['LinkOne'].errors.required">
                                        <p class="redUp">Link is required.</p>
                                    </div>
                                </div>
                            </div>
                        
                             <div class="FIn2div">
                                <p class="title1">Designation*</p>
                                <input type="text" placeholder="Enter designation" [(ngModel)]="Designation2" class="form-control" formControlName="DesignationOne" >
                                <div *ngIf="requiredForm.controls['DesignationOne'].invalid && requiredForm.controls['DesignationOne'].touched" class=" redB alert alert-danger">
                                    <div class="" *ngIf="requiredForm.controls['DesignationOne'].errors.required">
                                        <p class="redUp">Designation is required.</p>
                                     </div> 
                                </div>
                                <p class="title1">Social media link 2</p>
                                <input type="text" placeholder="Enter Social media link" [(ngModel)]="TeamSocialLink22ndinput" class="form-control" formControlName="Link2ndOne" >
                            </div> 
                        
                        </div>
                        <br/>
                        <p class="title1">About*</p>
                        <input type="text" placeholder="A short description about role" [(ngModel)]="AboutTeam2" class="form-control" formControlName="AboutOne">
                        <div *ngIf="requiredForm.controls['AboutOne'].invalid && requiredForm.controls['AboutOne'].touched" class=" redB alert alert-danger">
                            <div class="" *ngIf="requiredForm.controls['AboutOne'].errors.required">
                                <p class="redUp">Role is required.</p>
                            </div>
                        </div>
                        
                        <button id="F1teambtn" (click)="team2()" class="YelCol">+Add team member</button>
                        <hr/>
                    </div>
                    <div id="two" class="one">
 
                        <div class="DInContainer " >
                        <div class="FIndiv">
                          <p class="title1">Name*</p>
                          <input type="text" placeholder="Enter Team member name" [(ngModel)]="TeamName3" class="form-control" formControlName="TeamNameTwo">
                          <div *ngIf="requiredForm.controls['TeamNameTwo'].invalid && requiredForm.controls['TeamNameTwo'].touched" class=" redB alert alert-danger">
                            <div class="" *ngIf="requiredForm.controls['TeamNameTwo'].errors.required">
                              <p class="redUp">Name is required.</p>
                          </div>
                          </div>
                          <p class="title1">Social media link 1*</p>
                          <input type="text" placeholder="Enter Social media link" [(ngModel)]="TeamSocialLink3" class="form-control" formControlName="LinkTwo">
                          <div *ngIf="requiredForm.controls['LinkTwo'].invalid && requiredForm.controls['LinkTwo'].touched" class=" redB alert alert-danger">
                            <div class="" *ngIf="requiredForm.controls['LinkTwo'].errors.required">
                              <p class="redUp">Link is required.</p>
                          </div>
                          </div>
                        </div>
                        
                        <div class="FIn2div">
                          <p class="title1">Designation*</p>
                          <input type="text" placeholder="Enter designation" [(ngModel)]="Designation3" class="form-control" formControlName="DesignationTwo">
                          <div *ngIf="requiredForm.controls['DesignationTwo'].invalid && requiredForm.controls['DesignationTwo'].touched" class=" redB alert alert-danger">
                            <div class="" *ngIf="requiredForm.controls['DesignationTwo'].errors.required">
                              <p class="redUp">Designation is required.</p>
                          </div>
                          </div>
                          <p class="title1">Social media link 2</p>
                          <input type="text" placeholder="Enter Social media link" [(ngModel)]="TeamSocialLink32ndinput" class="form-control" formControlName="Link2ndTwo">
                        </div>
                        </div>
                        <br/>
                        <p class="title1">About*</p>
                        <input type="text" placeholder="A short description about role" [(ngModel)]="AboutTeam3" class="form-control" formControlName="AboutTwo">
                        <div *ngIf="requiredForm.controls['AboutTwo'].invalid && requiredForm.controls['AboutTwo'].touched" class=" redB alert alert-danger">
                          <div class="" *ngIf="requiredForm.controls['AboutTwo'].errors.required">
                            <p class="redUp">Role is required.</p>
                        </div>
                        </div>
                        <button id="F2teambtn" (click)="team3()" class="YelCol">+Add team member</button>
                        <hr/>
                        </div>

                        <div id="three" class="one">
                            <div class="DInContainer" >
                            <div class="FIndiv">
                              <p class="title1">Name*</p>
                              <input type="text" placeholder="Enter Team member name" [(ngModel)]="TeamName4" class="form-control" formControlName="TeamNameThree">
                              <div *ngIf="requiredForm.controls['TeamNameThree'].invalid && requiredForm.controls['TeamNameThree'].touched" class=" redB alert alert-danger">
                                <div class="" *ngIf="requiredForm.controls['TeamNameThree'].errors.required">
                                  <p class="redUp">Role is required.</p>
                              </div>
                              </div>
                              <p class="title1">Social media link 1*</p>
                              <input type="text" placeholder="Enter Social media link" [(ngModel)]="TeamSocialLink4" class="form-control" formControlName="LinkThree">
                              <div *ngIf="requiredForm.controls['LinkThree'].invalid && requiredForm.controls['LinkThree'].touched" class=" redB alert alert-danger">
                                <div class="" *ngIf="requiredForm.controls['LinkThree'].errors.required">
                                  <p class="redUp">Social Media link is required.</p>
                              </div>
                              </div>
                            </div>
                            
                            <div class="FIn2div">
                              <p class="title1">Designation*</p>
                              <input type="text" placeholder="Enter designation" [(ngModel)]="Designation4" class="form-control" formControlName="DesignationThree">
                              <div *ngIf="requiredForm.controls['DesignationThree'].invalid && requiredForm.controls['DesignationThree'].touched" class=" redB alert alert-danger">
                                <div class="" *ngIf="requiredForm.controls['DesignationThree'].errors.required">
                                  <p class="redUp">Designation is required.</p>
                              </div>
                              </div>
                              <p class="title1">Social media link 2</p>
                              <input type="text" placeholder="Enter Social media link" [(ngModel)]="TeamSocialLink42ndinput" class="form-control" formControlName="Link2ndThree">
                            </div>
                            
                            </div>
                            <br/>
                            <p class="title1">About*</p>
                            <input type="text" placeholder="A short description about role" [(ngModel)]="AboutTeam4" class="form-control" formControlName="AboutThree">
                            <div *ngIf="requiredForm.controls['AboutThree'].invalid && requiredForm.controls['AboutThree'].touched" class=" redB alert alert-danger">
                              <div class="" *ngIf="requiredForm.controls['AboutThree'].errors.required">
                                <p class="redUp">Role is required.</p>
                            </div>
                            </div>
                            <button id="F3teambtn" (click)="team4()" class="YelCol">+Add team member</button>
                            <hr/>
                            </div>
                            <div id="four" class="one">
                                <div class="DInContainer " id="four">
                                <div class="FIndiv">
                                  <p class="title1">Name*</p>
                                  <input type="text" placeholder="Enter Team member name" [(ngModel)]="TeamName5" class="form-control" formControlName="TeamNameFour">
                                  <div *ngIf="requiredForm.controls['TeamNameFour'].invalid && requiredForm.controls['TeamNameFour'].touched" class=" redB alert alert-danger">
                                    <div class="" *ngIf="requiredForm.controls['TeamNameFour'].errors.required">
                                      <p class="redUp">Name is required.</p>
                                  </div>
                                  </div>
                                  <p class="title1">Social media link 1*</p>
                                  <input type="text" placeholder="Enter Social media link" [(ngModel)]="TeamSocialLink5" class="form-control" formControlName="LinkFour">
                                  <div *ngIf="requiredForm.controls['LinkFour'].invalid && requiredForm.controls['LinkFour'].touched" class=" redB alert alert-danger">
                                    <div class="" *ngIf="requiredForm.controls['LinkFour'].errors.required">
                                      <p class="redUp">Social Media Link is required.</p>
                                  </div>
                                  </div>
                                </div>
                                
                                <div class="FIn2div">
                                  <p class="title1">Designation*</p>
                                  <input type="text" placeholder="Enter designation" [(ngModel)]=" Designation5" class="form-control" formControlName="DesignationFour">
                                  <div *ngIf="requiredForm.controls['DesignationFour'].invalid && requiredForm.controls['DesignationFour'].touched" class=" redB alert alert-danger">
                                    <div class="" *ngIf="requiredForm.controls['DesignationFour'].errors.required">
                                      <p class="redUp">Designation is required.</p>
                                  </div>
                                  </div>
                                  <p class="title1">Social media link 2</p>
                                  <input type="text" placeholder="Enter Social media link" [(ngModel)]="TeamSocialLink52ndinput" class="form-control" formControlName="Link2ndFour">
                                </div>
                                
                                </div>
                                <br/>
                                <p class="title1">About*</p>
                                <input type="text" placeholder="A short description about role" [(ngModel)]="AboutTeam5" class="form-control" formControlName="AboutFour">
                                <div *ngIf="requiredForm.controls['AboutFour'].invalid && requiredForm.controls['AboutFour'].touched" class=" redB alert alert-danger">
                                  <div class="" *ngIf="requiredForm.controls['AboutFour'].errors.required">
                                    <p class="redUp">Role is required.</p>
                                </div>
                                </div>
                                <button id="F4teambtn" (click)="team4()" class="YelCol">+Add team member</button>
                                <hr/>
                                </div>
                                <br/>
                                <p class="title1">Upload slide deck</p>

<div id="click" class="click" > 
  
  <pdf-viewer
  *ngIf="data" [src]="data" [render-text]="true" style="display: flex;"
  [rotation]="0"
  [original-size]="false"
  [show-all]="true"
  [fit-to-page]="true"
  [zoom]="1"
  [zoom-scale]="'page-width'"
  [stick-to-page]="false"
  [render-text]="true"
  [external-link-target]="'blank'"
  [autoresize]="true"
  [show-borders]="false"
  class="click"
></pdf-viewer>
  <div >
    <img id="ti" src="../../../assets/images/upload.PNG">
  <input [(ngModel)]="imglink" type="file" class="filediv" formControlName="pdfView" (change)="onFileChange($event)"  id='image-input' name="file" value="Upload Pdf" accept="application/pdf"/>
  <!-- <div class="pdf-container"> -->
  <!-- </div>     -->
    </div>


   
</div>

<!-- <div id="click">
  click here to trigger file
  <input type="file" id="target" />
</div> -->

<br/>
<p>What stage is your project at?</p>
<div class="cen" ng-controller="MyCtrl">
  <label class="checkCon">
    <input type="checkbox" class="checkoption"(change)="checkCheckBoxvalue($event)" value="Not Generated">
    <span class="checkmark"></span><p class="infoD">Not generated any revenu</p>
  </label><br/>
</div>

<div class="cen">
<label class="checkCon">
  <input type="checkbox" class="checkoption" (change)="checkCheckBoxvalue($event)" value="1$ - 50,000$">
  <span class="checkmark"></span><p class="infoD">Generated between 1$ - 50,000$</p>
</label><br/>
</div>
<div class="cen">

<label class="checkCon">
  <input type="checkbox" class="checkoption" (change)="checkCheckBoxvalue($event)" value="50,000$ - 100,000$">
  <span class="checkmark"></span><p class="infoD">Generated between 50,000$ - 100,000$</p>
</label><br/>
</div>
<div class="cen">
<label class="checkCon">
  <input type="checkbox" class="checkoption" (change)="checkCheckBoxvalue($event)" value="100,000$ - 1,000,000$">
  <span class="checkmark"></span><p class="infoD">Generated between 100,000$ - 1,000,000$</p>
</label><br/>
</div>
<div class="cen">
  
  <label class="checkCon">
    <input type="checkbox" class="checkoption" (change)="checkCheckBoxvalue($event)" value="1,000,000$+">
    <span class="checkmark"></span><p class="infoD">Generated 1,000,000$+</p>
  </label><br/>  
</div><br/>
  <p>Last 3 Successs(even minute ones) in your venture? *</p><br/>
  <div  class="successL" id="suc">
    <ul >
      <li contenteditable="true" id="success1" class="success1" >Success 1</li>
      <li contenteditable="true" class="success1" >Success 2</li>
      <li contenteditable="true">Success 3</li>
      </ul>
  </div>      
  <div *ngIf="Slist" class=" redB alert alert-danger">
    <div class="" *ngIf="Slist">
      <p class="redUp">3 Success's are required.</p>
  </div>
  </div><br/>

  <p>Last 3 failures(even minute ones) in your venture? *</p><br/>
  <div  class="successL" id="fail">
    <ul >
      <li contenteditable="true">Failure 1</li>
      <li contenteditable="true">Failure 2</li>
      <li contenteditable="true">Failure 3</li>
      </ul>
  </div>
  <div *ngIf="Flist" class=" redB alert alert-danger">
    <div class="" *ngIf="Flist">
      <p class="redUp">3 Failure's are required.</p>
  </div>
  </div>
  <br/>
  <!-- <button (click)="test2()" >test</button> -->
  <p>How Much $Nova do you want?*</p><br/>
  <input type="text" placeholder="Enter Nova$ amount?" [(ngModel)]="NovaAmount" class="form-control" formControlName="AmountNov">
  <div *ngIf="requiredForm.controls['AmountNov'].invalid && requiredForm.controls['AmountNov'].touched" class=" redB alert alert-danger">
    <div class="" *ngIf="requiredForm.controls['AmountNov'].errors.required">
      <p class="redUp">Amount is required.</p>
  </div>
  </div>
  <br/>
  <p>Profile Image</p><br/>
  <input type="file" (change)="ProfileImg($event)" >
<button type="submit"   class="SubBtn" (click)="sub()">Submit Application</button>

                            
                        
                        













                </div>
            </div>            
        </form>

    </div>
    <div class="container">
      <div class="newfooterbox">
        <img
          class="animated_star3"
          src="../../../assets/images/starimg.png"
          alt="animate_img"
        />
        <div class="newlogofooter d-flex align-items-center">
          <img
            class="newlogo me-2"
            src="../../../assets/images/novadao_logo/icon.png"
            alt=""
          />
          <span class="newlogo_heading">Nova DAO</span>
        </div>
        <div class="new_footer_icons">
          <div>
            <a
              class="footerround_box"
              href="https://discord.gg/D7FKzVFztf"
              target="_blank"
            >
              <i class="fab fa-discord" aria-hidden="true"></i
            ></a>
          </div>
          <div>
            <a
              class="footerround_box ms-2 me-2"
              href="https://medium.com/@Nova.DAO"
              target="_blank"
            >
              <i class="fab fa-medium-m" aria-hidden="true"></i
            ></a>
          </div>
          <div>
            <a
              class="footerround_box ms-2 me-2"
              href="https://open.spotify.com/show/0n335tlzRaT8S9N2zyc6Kl"
              target="_blank"
            >
              <i class="fab fa-spotify" aria-hidden="true"></i
            ></a>
          </div>

          <div>
            <a
              class="footerround_box"
              href="https://twitter.com/NovaDaoNFT"
              target="_blank"
            >
              <i class="fab fa-twitter" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="spacebox"></div>
  </div>

    