.main_section {
    background-image: url("../../../assets/images/newhomebg_opt.png");
    background-color: #0d0116 !important;
    color: #ffffff !important;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 120px 20px 0px 20px !important;
  }
  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }
  .appsection {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1150px;
  }
  .app_mainsection {
    // margin-top: 10px;
  }
  
  .new_topsection {
    text-align: center;
    padding-top: 15px !important;
  
    p {
      font-size: 30px;
      font-weight: 700;
      line-height: 2px;
      letter-spacing: -0.04em;
      text-align: center;
      color: #ffffff;
      margin: 0 auto;
      margin-top: 2rem !important;
      max-width: 871px;
      margin-bottom: 58px;
      position: relative;
      z-index: 50;
    }
    .newconnect_btn {
      width: 278px !important;
      max-width: 278px;
      position: relative;
      z-index: 50;
    }
  }
  .animated_star2 {
    top: 142px;
    left: 9px;
    width: 50px;
  }
  .animated_star1 {
    top: 456px;
    right: 79px;
    width: 50px;
  }
  // div.mat-dialog-container
  // {
  //   background-color:none !important;
  // }
  
  
  .apply-form-grid {
    margin-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 60px;
    grid-column-gap: 60px;
    -ms-grid-columns: 0.5fr 0.75fr;
    grid-template-columns: 0.5fr 0.75fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    border-bottom: 1px solid #000;
  }
  @media (max-width: 736px) {
    .apply-form-grid {
      display: block !important;
    }
  }
  .w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
  }
  .section_new {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1150px;
  }
  .container-new
  {
  position: relative;
  z-index: 7;
  overflow: hidden;
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;  
  }
  input
  {
    display: inline-block;
    padding: 10px;
    height: 52px;
    border: 1pxsolidvar(--background_pop);
    border-right-width: 0;
    border-radius: 4px 0 0 4px;
    font-family: var(--font_family_ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol');
    font-size: 16px;
    background-color: #13021e !important;
    line-height: 19px;
    -webkit-appearance: none;
    width:100%;
  }
  .Bg
  {
  background-color: transparent !important;
  }
  .fohead
  {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .appform
  {
  margin-top: 2rem;
  display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .formhold
  {
  padding:2.5rem !important;
  }
  ul
  {
  list-style: none;
  }
  
  
  .D2Container
  {
    text-align: center !important;
    // background: #1e1226 !important;
    padding: 18px !important;
    text-align: left !important;
    width:877px !important;
    padding: 22px !important;
    // margin-top:5rem !important;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06)), #0D0116 !important;
  border-radius: 18px !important;  
  }
  // .container
  // {
  //   display: flex !important;
  // }
  .yelD
  {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    /* identical to box height */
    letter-spacing: -0.04em;
    color: #FAC905;
  }
  .D2Container
  {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
  }
  .DContainer
  {
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
  
  }
  p
  {
    margin-bottom: 0px !important;
  }
  
  .DInContainer
  {
  
  background: transparent !important;
  display:flex !important;
  text-align: left !important;
  flex-direction: row;
  justify-content: space-between;
  margin-top:1rem !important; 
  }
  .FIndiv
  {
  background-color:transparent !important;
  width:47%;
  }
  .FIn2div
  {
  background-color:transparent !important;
  width:47%;
  
  }
  .YelCol
  {
  color:#FAC905 !important;
  background: transparent !important;
  border: none !important;
  text-align: left !important;
  margin-top: 1rem !important;
  }
  .Dn
  {
  display:none !important;
  }
  .one
  {
  display: none;
  }
  div, mat-dialog-container
  {
  background-color: transparent !important;
  }
  // input
  // {
  //   -webkit-appearance : auto !important;
  //   // height: 100% !important;
  //   // width: 100% !important;
  // }
  
  .click
  {
  position: relative;
    display: flex;
    border: 1px;
    
    width: 100% !important;
    height: 184px !important;
    line-height: 30px;
    text-align: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: #13021E !important ;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 4px !important;
  }
  // input[type="checkbox"]::before {
  // content: "";
  // width: 0.65em;
  // height: 0.65em;
  // transform: scale(0);
  // transition: 120ms transform ease-in-out;
  // box-shadow: inset 1em 1em var(--form-control-color);
  // }
  // input[type="checkbox"] {
  // /* ...existing styles */
  // display: grid;
  // place-content: center;
  // }
  
  // input[type="checkbox"]::before {
  // content: "";
  // width: 0.65em;
  // height: 0.65em;
  // transform: scale(0);
  // transition: 120ms transform ease-in-out;
  // box-shadow: inset 1em 1em var(--form-control-color);
  // }
  
  // input[type="checkbox"]:checked::before {
  // transform: scale(1);
  // input[type="checkbox"]::before {
  //   /* ...existing styles */
  
  //   /* Windows High Contrast Mode */
  //   background-color: CanvasText;
  // }
  // input[type="checkbox"]::before {
  // /* ...existing styles */
  
  // transform-origin: bottom left;
  // clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  // }
  // }
  // .inpuD
  // {
  //    opacity: 0.0;
  //   /* IE 8 */
  //   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  //   /* IE 5-7 */
  //   filter: alpha(opacity=0);
  //   /* Netscape or and older firefox browsers */
  //   -moz-opacity: 0.0;
  //   /* older Safari browsers */
  //   -khtml-opacity: 0.0;
  
  
  // }
  .filediv
  {
  position: absolute;
  top: 0;
  opacity: 0 !important;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height:100%;
  }
  input[type=checkbox] {
  width: 24px;
  height: 24px;
  background: #13021E;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 4px;
  color: white !important;
  }
  input[type=text]
  {
  box-sizing: border-box;
  color: white!important;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 8px 12px 12px;
  gap: 10px;
  height: 54px;
  background: #13021E;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 4px;
  }
  textarea
  {
  color:white !important;
  background: #13021E !important;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 4px;
  height:184px !important;
  }
  
  .cen
  {
  display: flex;
  align-content: center;
  flex-direction: row;
  align-items: center;
  margin-top:1rem;
  }
  .infoD
  {
  margin-left:2.3rem !important;
  }
  .successL
  {
  position: relative; 
    /* display: flex; */
    border: 1px;
    
    width: 100% !important;
    min-height: 184px !important;
    
    line-height: 30px;
    /* text-align: center; */
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: #13021E !important;
    border: 1px solid rgba(255, 255, 255, 0.12);    
    border-radius: 4px;
  }
  ul
  {
  list-style: unset !important;
  }
  .SubBtn
  {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 16px 24px !important;
  grid-gap: 10px !important;
  gap: 10px !important;
  /* position: absolute !important; */
  width: 288px !important;
  height: 59px;
  /* left: 24px; */
  margin-top: 2rem;
  /* top: 2046px; */
  background: #FAC905 !important;
  border-radius: 8px;
  }
  .fil1
  {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 26px !important;
  letter-spacing: -0.04em;
  color: rgba(255, 255, 255, 0.6) !important;
  
  }
  // .title1
  // {
  //   font-family: 'Space Grotesk' !important;
  // font-style: normal;
  // font-weight: 700 !important;
  // font-size: 18px !important;
  // line-height: 23px !important;
  // /* identical to box height */
  
  // letter-spacing: -0.01em !important;
  
  // color: #FFFFFF !important;
  // }
  .FHDes
  {
  height: 184px !important;
  
  background: #13021E;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 4px;
  
  }
  @media (max-width: 670px) {
    .DContainer
    {
      // margin-top:-5rem !important;
    }
  
  }
  
  .checkCon {
    display: block;
    position: relative;
    // padding-left: 35px;
    // margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkCon input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #13021E !important;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 4px;
    
  }
  
  /* On mouse-over, add a grey background color */
  .checkCon:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkCon input:checked ~ .checkmark {
    background-color: #13021E;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkCon input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkCon .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .pdf-container {
    display: flex;
    border: solid 1px blue;
  }
  
  .viewer {
    position: absolute; 
    height: 100%;
    width: 100%;
  }
  .Wcount
  {
    display: flex;
  }
  .redB
  {
    border-color: #ad0000 !important;
    text-align:center !important;
  }
  .redUp
  {
    color:#ad0000 !important ;
  }
  .cdk-overlay-container
  {
    visibility: visible !important;
    display: block !important;
  }
  .Cbtn
  {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
  
  }
  .logsec {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: center;
    padding: 2rem;
    border-radius: 18px;
    background-color: #200028 !important;
    flex-direction: row;
    align-items: center;
  }
  .side
  {
    display: flex !important;
      
      flex-wrap: nowrap !important;
      align-content: center !important;
      align-items: center !important;
  }
  .containAll
  {
    // margin-top:2rem !important;
  }
  @media (max-width: 800px) {
    .DContainer
    {
      padding:20px !important;
    }
  }
  .notLogged_Holder
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* position: absolute; */
    /* left: 0; */
    /* right: 0; */
    /* margin-top: 9rem; */
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    height: 100vh!important;
  }
