<app-menu-bar class="menu-bar"></app-menu-bar>

<div class="main_section app_mainsection">
    <div class="appsection">
      <div id="landing">
      <div class="new_topsection">
        <img class="newbiglogo" src="../../../assets/images/novadao_logo/logo_medium.png" alt="" />
        <p >Let the age of Web3 Creation begin!</p>
        
        <img
          class="animated_star2"
          src="../../../assets/images/starimg.png"
          alt="animate_img"
        />
        <img
          class="animated_star1"
          src="../../../assets/images/starimg.png"
          alt="animate_img"
        />
      
    </div>
    


    <div class="DContainer">
      <a class="Nl" routerLink = "/latestProjects">
      <div class="D2Container" >
          <div class="D3Container">
            
          <img src="../../../assets/images/Allapp.png" width="74px"/>
          <p class="Nt">Latest Projects</p>
          <p class="grayMin"><span>10</span> active Projects</p><br/>
          <button class="new_btn_D">View All<span class="fa fa-arrow-right marD"></span></button>
          
          </div>   
      </div>
      </a>
      <a class="Nl" routerLink = "/pastProjects">
      <div class="D2Container" >
          <div class="D3Container">
              <img src="../../../assets/images/Selected.png" width="74px"/>
              <p class="Nt">Past Projects</p>
              <p class="grayMin"><span>10</span> active Projects</p><br/>
              <button class="new_btn_D">View <span class="fa fa-arrow-right marD "></span></button>
          </div>    
      </div>
      </a>
      <!-- <div class="D2Container" >
          <div class="D3Container">
          <img src="../../../assets/images/Proposal.PNG" width="74px" />
          <p>Proposals</p>
          <p class="grayMin Hid">this is pro</p><br/>
          <button class="new_btn_D">View SnapShot <span class="fa fa-arrow-right marD rotD"></span></button>
      </div> -->
  </div>
    
</div> 

<p class="Nt marN">All projects</p>      

    <div class="whole">
      
        <div class="buttonIn">
          <i class="fa fa-search Sicon" aria-hidden="true"></i>
          <input class="icon" type="text" id="enter" [(ngModel)]="name">
          <button class="srchBtn">Search</button>
      
      </div>
      <div >
        <div class="inH" >
        <p class="lbl">Sort by</p>
        <div class="btnH">
        <div   id="word">
          latest
        </div><span  class="fa fa-chevron-down"></span>
        </div>
        </div>
        <div id="down"  class="dropdown-contentAp">
          <a  class="Ref" >Name</a>
          <a  class="Ref" >Latest</a>
          <a  href="#" class="Ref">Recent</a>
        </div>
        </div>
      
      </div> 
      <div class="MarFun" style="overflow-x:auto;" >
        
        <div class="Pin" *ngFor="let item of allPro | itemnameFilter:name;let i = index" (click)="proposal($event)" >
            
          <div class="PDiv" >
          <img class="imgPro" src="{{item['Img']}}"   >
            </div>
            <div class="PHolder">
                <p>{{i + 1 }}</p>
          <p class="left name" >{{item['Name']}}</p>
          <p class="left">{{item['Description']}}</p>
          
      <div class="funreq">
        <div class="funreqin"><p class="funt">Funding Required</p></div>
        <div class="funreqint"><p class="funtT">{{item['Amount']}} $Nova</p></div><br/>
      
      </div>
      
      <label class="Precieved">100% recieved</label>
      <mat-progress-bar class="matPb" mode="determinate" value=100></mat-progress-bar>
      
      <div class="BF">
        <label class="faded">Voting expired</label>
        <!-- <button class="Fv">Vote</button> -->
      </div>
      </div>
      </div>
        
        
        </div>
        </div>
        </div>