<div class="team_members" *ngFor="let lis of username">
  <div class="member_img holo" >
  <img src="{{lis['img'][0]}}"/> 
  </div>
  <div class="member_title">
   <p>{{lis['meta'][0]['name']}}</p>
   
  </div>

  <div class="newicons">
    <div class="me-2">
      <a
        class="round_box"
        href="{{lis['meta'][0]['linkedin']}}"
        target="_blank"
      >
        <i class="fab fa-linkedin" aria-hidden="true"></i
      ></a>
    </div>
    <div class="me-2">
      <a
        class="round_box"
        href="{{lis['meta'][0]['twitter']}}"
        target="_blank"
      >
        <i class="fab fa-twitter" aria-hidden="true"></i
      ></a>
    </div>
    </div>  

  <div class="member_detail"> 
    {{lis['bio'][0]}}

  </div>
 
</div>

<div class="team_members" *ngFor="let lis of username">
<div class="member_img holo" >
  <img src="{{lis['img'][1]}}"/> 
  </div>
  <div class="member_title">
   <p>{{lis['meta'][1]['name']}}</p>
  </div>

  <div class="newicons">
    <div class="me-2">
      <a
        class="round_box"
        href="{{lis['meta'][1]['linkedin']}}"
        target="_blank"
      >
        <i class="fab fa-linkedin" aria-hidden="true"></i
      ></a>
    </div>
    <div class="me-2">
      <a
        class="round_box"
        href="{{lis['meta'][1]['twitter']}}"
        target="_blank"
      >
        <i class="fab fa-twitter" aria-hidden="true"></i
      ></a>
    </div>
    </div> 

  <div class="member_detail">
    {{lis['bio'][1]}}
  </div>


</div>
<div class="team_members" *ngFor="let lis of username">

  <div class="member_img holo" >
    <img src="{{lis['img'][2]}}"/> 
    </div>
    <div class="member_title">
     <p>{{lis['meta'][2]['name']}}</p>
    </div>


    <div class="newicons">
      <div class="me-2">
        <a
          class="round_box"
          href="{{lis['meta'][2]['linkedin']}}"
          target="_blank"
        >
          <i class="fab fa-linkedin" aria-hidden="true"></i
        ></a>
      </div>
      <div class="me-2">
        <a
          class="round_box"
          href="{{lis['meta'][2]['twitter']}}"
          target="_blank"
        >
          <i class="fab fa-twitter" aria-hidden="true"></i
        ></a>
      </div>
      </div> 

    <div class="member_detail">
      {{lis['bio'][2]}}
    
    </div>

</div>     

<div class="team_members" *ngFor="let lis of username">
      <div class="member_img holo" >
        <img src="{{lis['img'][3]}}"/> 
        </div>
        <div class="member_title">
         <p>{{lis['meta'][3]['name']}}</p>
        </div>

        <div class="newicons">
          <div class="me-2">
 
            <a
              class="round_box"
              href="{{lis['meta'][3]['linkedin']}}"
              target="_blank"
            >
              <i class="fab fa-linkedin" aria-hidden="true"></i
            ></a>
          </div>
          <div class="me-2">
            <a
              class="round_box"
              href="{{lis['meta'][3]['twitter']}}"
              target="_blank"
            >
              <i class="fab fa-twitter" aria-hidden="true"></i
            ></a>
          </div>
          </div> 

        <div class="member_detail">
          {{lis['bio'][3]}}
          <br/>
          
          
       </div>
  

</div>




