

<div class="member_detail">
  <p>
    {{username[0]}}
    
<a href=" {{username[1]['url_personal']}}">{{username[1]['url_personal']}}</a>
    
</p>
<div class="newicons">
  <div class="me-2">
    <a
      class="round_box"
      href="{{username[1]['linkedin']}}"
      target="_blank"
    >
      <i class="fab fa-linkedin" aria-hidden="true"></i
    ></a>
  </div>
  <div class="me-2">
    <a
      class="round_box"
      href="{{username[1]['twitter']}}"
      target="_blank"
    >
      <i class="fab fa-twitter" aria-hidden="true"></i
    ></a>
  </div>
  
</div>

              
          
          
          <!-- <div class="team_members">
            <div class="member_img">
              <img src="https://github.com/novadaodev/team/blob/main/ioToad/pfp.png?raw=true" alt="" />
            </div>
            <div class="member_title">
              <p>ioToad</p>
            </div>
            <div class="member_detail">
              <p>
              {{username[0]}}  
              </p>
            </div>
            <div class="newicons">
              <div>
                <a
                  class="round_box"
                  href="https://twitter.com/0xAnav"
                  target="_blank"
                >
                  <i class="fab fa-twitter" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
 -->
    
            
            
            
            
<!--       
      <div class="newicons">
        <div class="me-2">
          <a
            class="round_box"
            href=" {{username[1][0]}}"
            target="_blank"
          >
            <i class="fab fa-linkedin" aria-hidden="true"></i
          ></a>
        </div> -->
        <!-- <div>
          <a
            class="round_box"
            href="{{username[1][1]}}"
            target="_blank"
          >
            <i class="fab fa-twitter" aria-hidden="true"></i
          ></a>
        </div>
        <div>
            <a
              class="round_box"
              href="{{username[1][2]}}"
              target="_blank"
            >
              <i class="fab fa-user" aria-hidden="true"></i
            ></a>
          </div>
      </div>
    </div>



 -->
