<form action="" method="">

 <!-- <div class="name" >
   <p style="color:white"> {{nft[0]['name']}}</p>
     </div> -->
      <!-- <div style="display:flex">
        <p>amount:{{nft[0]['amount']}}</p>
       
         
           </div> -->
           <table>
             <tr>
               <td> <div class="member_img"><img src="{nft[0]['url']}" /></div></td>   
               <td><input type="checkbox"  value="{{nft[0]['token_url']}}"></td>
              </tr>
             <tr>
             
              <td> <p style="color:white;margin-top:0.3rem;">{{nft[0]['name']}}</p></td>
               </tr>
             </table>
        <!-- <p>token_address:{{nft[0]['Address']}}</p> -->
        
        
  </form>
  