  <app-menu-bar class="menu-bar"></app-menu-bar>

  <div class="main_section app_mainsection">
      <div class="appsection">
        <div id="landing">
        <div class="new_topsection">
          <img class="newbiglogo" src="../../../assets/images/novadao_logo/logo_medium.png" alt="" />
          <p class="Nt">Recent Projects</p>
          
          <img
            class="animated_star2"
            src="../../../assets/images/starimg.png"
            alt="animate_img"
          />
          <img
            class="animated_star1"
            src="../../../assets/images/starimg.png"
            alt="animate_img"
          />
        
      </div>
      

      <!-- <p class="Nt marN">Recent projects</p>    -->
      <div >
      <div class="whole"> 
          <div class="buttonIn">
            <i class="fa fa-search Sicon" aria-hidden="true"></i>
            <input class="icon" type="text" id="enter" [(ngModel)]="name">
            <button class="srchBtn">Search</button>
        
        </div>
        <div class="Zhol">
          <div class="inH" >
          <p class="lbl">Sort by</p>
          <div class="btnH">
          <div   id="word">
            latest
          </div><span  class="fa fa-chevron-down"></span>
          </div>
          </div>
          <div id="downPast"  class="dropdown-contentAp">
            <a  class="Ref" >Name</a>
            <a  class="Ref" >Latest</a>
            <a  href="#" class="Ref">Recent</a>
          </div>
          </div>
        
        </div> 
        <div class="MarFun" style="overflow-x:auto;" >
          
          <div class="Pin" *ngFor="let item of recentPro | itemnameFilter:name;let i = index" (click)="pastPropos($event)">
            <div class="PDiv" >
            <img class="imgPro" src="{{item['Img']}}"   >
              </div>
              <div class="PHolder">
                <p class="BD">{{i + 1}}</p>
            <p class="leftt">{{item['Name']}}</p>
            <p class="left">{{item['Description']}}</p>
            
        <div class="funreq">
          <div class="funreqin"><p class="funt">Required Pledge</p></div>
          <div class="funreqint"><p class="funtT">{{item['Amount']}} $Nova</p></div><br/>
          <label class="BD" value="">{{item['Key']}}<span>{{item['DescriptionT']}}</span></label>
        </div>
        
        <label class="Precieved">100% recieved</label>
        <mat-progress-bar class="matPb" mode="determinate" value=80></mat-progress-bar>
        
        <div class="BF">
          <label class="faded">Pleding Closed</label>
          <!-- <button class="Fv">Vote</button> -->
        </div>
        </div>
        </div>
          
          
          </div>
          </div>
          </div>

        <!-- ProposalPage -->

        
        <!-- PROPOSALS LATEST (on click)-->
        <div class="appsection">
          <div class="hoho" id="prop" *ngFor="let p of prop" id="Data">
            <div class="babaHolder" > 
        
          <button class="backBtnn" (click)="backBtn()"><span class="fa fa-arrow-left PArr"></span>Back</button><br/>
        
            <div class="proposalLatest">
              
          <div class="holdeP">
            
            <div class="dOne">
              <img src="{{p['src']}}" class="IC">
            </div>
            <div class="dTwo">
              <p class="DaoP nomar Fpro">{{p['name']}}</p>
              <p class="PN padPM">{{p['Description']}}</p>
              <div class="UHolder">
                  <p class="PN BB2">Funding required</p>
                <p class="PN Ycolor">{{p['Amount']}}</p>
              </div>
              <div class="DApholder">
              
              <!-- <c-progress class="mb-3">
                <c-progress-bar [value]="25">25%</c-progress-bar>
              </c-progress> -->
              <div class="mat">
              <mat-progress-bar class="matPb" mode="determinate" value=50></mat-progress-bar>
              <div class="BV">
                <label>0.0 VOTES</label>
                <button class="VT">Vote</button>
                </div>
              </div>
            </div>
        
          </div>
          
        </div>
        <div style="padding: 16px;">
        <p class="centered DaoP">More about the project</p>
        <div>
        <p class="PN proWid padPM">{{p['DescriptionT']}}</p><br/>
        </div>
        <p class="centered DaoP">Know the Team</p><br/>
        </div>
        
        <div class="container flll" >
          <div class="newfooterbox newfooterboxedu" *ngFor="let Tea of Team">
            <p class="PN Fpro proWid dashed" id="Tname">{{Tea['TeamMeber']}}</p>
            <p class="PN proWid " id="Trole">{{Tea['About']}}</p>
            <div class="newicons dashed">
              <div class="me-2">
                <a
                  class="round_box"
                  href=""
                  id="sty"
                  target="_blank"
                >
                  <i class="fab fa-linkedin" aria-hidden="true"></i
                ></a>
              </div>
              <div class="me-2">
                <a
                  class="round_box Ycolor"
                  href=""
                  target="_blank"
                >
                  <i class="fab fa-twitter" aria-hidden="true"></i
                ></a>
              </div>
              </div> 
          
            </div>
            </div>
            <div class="downPitch">
            <img src="{{p['src']}}" class="ICT">
            </div>
            </div>
            </div>
        
          </div>
          </div>
          










          <div class="spacebox"></div>
        <div class="container">
          <div class="newfooterbox">
            <img
              class="animated_star3"
              src="../../../assets/images/starimg.png"
              alt="animate_img"
            />
            <div class="newlogofooter d-flex align-items-center">
              <img
                class="newlogo me-2"
                src="../../../assets/images/novadao_logo/icon.png"
                alt=""
              />
              <span class="newlogo_heading">Nova DAO</span>
            </div>
            <div class="new_footer_icons">
              <div class="padNew">
                <a
                  class="footerround_box"
                  href="https://discord.gg/D7FKzVFztf"
                  target="_blank"
                >
                  <i class="fab fa-discord" aria-hidden="true"></i
                ></a>
              </div>
              <div class="padNew">
                <a
                  class="footerround_box "
                  href="https://medium.com/@Nova.DAO"
                  target="_blank"
                >
                  <i class="fab fa-medium-m" aria-hidden="true"></i
                ></a>
              </div>
              <div class="padNew">
                <a
                  class="footerround_box"
                  href="https://open.spotify.com/show/0n335tlzRaT8S9N2zyc6Kl"
                  target="_blank"
                >
                  <i class="fab fa-spotify" aria-hidden="true"></i
                ></a>
              </div>
  
              <div class="padNew">
                <a
                  class="footerround_box"
                  href="https://twitter.com/NovaDaoNFT"
                  target="_blank"
                >
                  <i class="fab fa-twitter" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="spacebox"></div>
        </div>