<app-menu-bar class="menu-bar"></app-menu-bar>

<div class="main_section app_mainsection">
    <div class="appsection">
      <div class="new_topsection">
        <img class="newbiglogo" src="../../../assets/images/novadao_logo/logo_medium.png" alt="" />
        <p> All projects</p>
        <p style="font-size: 16px !important;line-height: 0px;">. Project page (generated for each project with all relevant stats)</p>
        <p style="font-size: 16px !important;line-height: 0px;">Project edit page (so company members can edit profile) </p>
        <p style="font-size: 14px !important;line-height:0px">will be included in this page</p>
        <img
          class="animated_star2"
          src="../../../assets/images/starimg.png"
          alt="animate_img"
        />
        <img
          class="animated_star1"
          src="../../../assets/images/starimg.png"
          alt="animate_img"
        />
      
    </div>

</div>    

<div class="container">
    <div class="newfooterbox newfooterboxedu">
      <img
        class="animated_star3"
        src="../../../assets/images/starimg.png"
        alt="animate_img"
      />
      <div class="newlogofooter d-flex align-items-center">
        <img
          class="newlogo me-2"
          src="../../../assets/images/novadao_logo/icon.png"
          alt=""
        />
        <span class="newlogo_heading">Nova DAO</span>
      </div>
      <div class="new_footer_icons">
        <div>
          <a
            class="footerround_box"
            href="https://discord.gg/D7FKzVFztf"
            target="_blank"
          >
            <i class="fab fa-discord" aria-hidden="true"></i
          ></a>
        </div>
        <div>
          <a
            class="footerround_box ms-2 me-2"
            href="https://medium.com/@Nova.DAO"
            target="_blank"
          >
            <i class="fab fa-medium-m" aria-hidden="true"></i
          ></a>
        </div>
        <div>
          <a
            class="footerround_box ms-2 me-2"
            href="https://open.spotify.com/show/0n335tlzRaT8S9N2zyc6Kl"
            target="_blank"
          >
            <i class="fab fa-spotify" aria-hidden="true"></i
          ></a>
        </div>

        <div>
          <a
            class="footerround_box"
            href="https://twitter.com/NovaDaoNFT"
            target="_blank"
          >
            <i class="fab fa-twitter" aria-hidden="true"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="spacebox"></div>
</div>
