<app-menu-bar class="menu-bar"></app-menu-bar>

<div class="main_section">

  <!-- header section -->
  
    <div id="custom-substack-embed"></div>


    
  <div class="bottomsection">
    <img class="newbiglogo" src="../../../assets/images/novadao_logo/logo_medium.png" alt="" />
    <p class="heNe">The Decentralized Funding Network</p>
    <br><br>
    <img
      class="animated_star2"
      src="../../../assets/images/starimg.png"
      alt="animate_img"
    />


    <img
      class="animated_star1"
      src="../../../assets/images/starimg.png"
      alt="animate_img"
    />
    <div class="popUpH" id="ifraContainer2">
    <div class="d-flex subscribe holo" >
      <p class="daoheading">
        Get NOVA news
      </p><br>
      
      
      <iframe src="https://thesupernova.substack.com/embed" class="fff" id="iframe" width="480" height="320" frameborder="0" scrolling="no">
        
      </iframe>
        
    </div>
    </div>
    <!-- <div class="daoNFTwork_container">
      <p class="daoheadingN">
        7500 unique characters for DAO membership
        </p>
        <div class="slider">
        <span style="--i:1;"><img src="../../../assets/images/Rectangle 17.png"></span>
          <span style="--i:2;"><img src="../../../assets/images/Rectangle 18.png"></span>
            <span style="--i:3;"><img src="../../../assets/images/Rectangle 19.png"></span>
              <span style="--i:4;"><img src="../../../assets/images/Rectangle 20.png"></span>
                <span style="--i:5;"><img src="../../../assets/images/Rectangle 21.png"></span>
                  <span style="--i:6;"><img src="../../../assets/images/Rectangle 22.png"></span>
                    <span style="--i:7;"><img src="../../../assets/images/Rectangle 23.png"></span>
                    <span style="--i:8;"><img src="../../../assets/images/Rectangle 21.png"></span>
        </div>
        <button class="LSB">Launching soon</button>
      </div> -->
    <div class="daowork_container">
      <p class="daoheading">
        What is NOVA?
      </p>
      <p class="new_content">
        Nova is a tokenized solution for decentralized fundraising. Anyone can pledge $NOVA to their choice(s) from a library of projects curated by the governance DAO in return for a token share in the project. $NOVA is earned by staking our NFTs or bought on popular DEXs. Our aims are:
      
      </p>
      <div class="custom_points">
        <div class="points">
          <img
            class="me-2"
            src="../../../assets/images/novadao_logo/icon.png"
            alt=""
          />
          <p>
            Democratize early fundraising while making it permisionless & borderless.
          
          </p>
        </div>
        <div class="points">
          <img
            class="me-2"
            src="../../../assets/images/novadao_logo/icon.png"
            alt=""
          />
          <p>
            Harness the network effect of DAOs to create early stage growth flywheels.
          
          </p>
        </div>
        <div class="points">
          <img
            class="me-2"
            src="../../../assets/images/novadao_logo/icon.png"
            alt=""
          />
          <p>
            Create a community of the most innovative minds in Web3 across art, economics and code.
          
          </p>
        </div>
        <div class="strokedbtns fle-btn">
        

          <a 
            href="https://medium.com/@Nova.DAO/novadao-whitepaper-v2-44c9e9e1ddd"
            target="blank"
          >
           <button class="new_strokedbtn">
              WHITEPAPER
              </button>
            
          </a>
        
        
          <a 
            href="https://medium.com/@Nova.DAO/novanomics-78a1f9edf7d5"
            target="blank"
          >
           <button class="new_strokedbtn">
              $NOVANOMICS
            </button>
          </a>
                </div>
      </div>

<!-- 
      <div class="d-flexN ">
        <img src="../../../assets/images/Group 28.svg" class="imgsvgN" alt="" />
      </div> -->
      
      
      <div class="new_roadmap">
        <br><br><br><br>
        <p>Roadmap 1.0</p>
        <div class="new_roadmap_content">
          <div class="points new_roadmaps">
            <div class="line default"></div>
            <div class="line draw"></div>
            <div class="linebox">
              <img
                class="me-2"
                src="../../../assets/images/novadao_logo/icon.png"
                alt=""
              />
            </div>
            <div class="new_mapscontent">
              <p>25th May 2022:</p>
              <p class="custom_equal_height">
                <span class="colortext"> Mint day!!</span> 7500 NFTs at 0.1E each.
              </p>
            </div>
          </div>
          <div class="points new_roadmaps">
            <div class="linebox">
              <img
                class="me-2"
                src="../../../assets/images/novadao_logo/icon.png"
                alt=""
              />
            </div>
            <div class="new_mapscontent">
              <p>Coming Soon!</p>
              <p class="custom_equal_height">
                <span class="colortext">Staking is in testing. Just making sure there are no kinks or volnerabilities before release.</span>
                Stake to earn <span class="colortext">$NOVA</span>
              </p>
            </div>
          </div>
          <div class="points new_roadmaps">
            <div class="linebox">
              <img
                class="me-2"
                src="../../../assets/images/novadao_logo/icon.png"
                alt=""
              />
            </div>
            <div class="new_mapscontent">
              <p>Q3 2022:</p>
              <p class="custom_equal_height">
                <span class="colortext">Liquidity Pool goes live! 

                </span>Once sufficient staking rewards have been claimed, we will set up the LP for $NOVA.
              </p>
            </div>
          </div>
          <div class="points new_roadmaps">
            <div class="linebox">
              <img
                class="me-2"
                src="../../../assets/images/novadao_logo/icon.png"
                alt=""
              />
            </div>
            <div class="new_mapscontent">
              <p>Early Q4 2022:</p>
              <p class="custom_equal_height">
                <span class="colortext">DAO + Platform goes live!</span>
                We launch our DAO platform with voting protocols etc along with our application & fundraising platform.
              </p>
            </div>
          </div>
          <div class="points new_roadmaps">
            <div class="linebox">
              <img
                class="me-2"
                src="../../../assets/images/novadao_logo/icon.png"
                alt=""
              />
            </div>
            <div class="new_mapscontent">
              <p>Late Q4 2022:</p>
              <p class="custom_equal_height">
                First cohort of projects gets backed!
              </p>
            </div>
          </div>
          <div class="points new_roadmaps">
            <div class="linebox">
              <img
                class="me-2"
                src="../../../assets/images/novadao_logo/icon.png"
                alt=""
              />
            </div>
            <div class="new_mapscontent">
              <p>Q1 2023:</p>
              <p class="custom_equal_height">
                <span class="colortext"> Roadmap 2.0</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="distribution_chart">
        <img class="allscreenview" src="../../../assets/images/chart.svg" alt="" />
        <img  class="mobileview" src="../../../assets/images/chart_mob.svg" alt="">
      </div>
      <div class="knowteam_box">
        <br><br><br><br>
        <img
          class="animated_star5"
          src="../../../assets/images/starimg.png"
          alt="animate_img"
        />
        <p class="newteamheading">Know the Team</p>
        <div class="new_members">
          <div class="holder">
          
        <app-username [username]="team" class="team"></app-username>
        </div>
        
      </div>
         
      <div class="newfooterbox">
        <img
          class="animated_star6"
          src="../../../assets/images/starimg.png"
          alt="animate_img"
        />

        <div class="newlogofooter d-flex align-items-center">
          <img
            class="newlogo me-2"
            src="../../../assets/images/novadao_logo/icon.png"
            alt=""
          />
          <span class="newlogo_heading">Nova DAO</span>
        </div>
        <div class="new_footer_icons">
          <div class="padNew">
            <a
              class="footerround_box"
              href="https://discord.gg/D7FKzVFztf"
              target="_blank"
            >
              <i class="fab fa-discord" aria-hidden="true"></i
            ></a>
          </div>
          <div class="padNew">
            <a
              class="footerround_box "
              href="https://medium.com/@Nova.DAO"
              target="_blank"
            >
              <i class="fab fa-medium-m" aria-hidden="true"></i
            ></a>
          </div>
          <div class="padNew">
            <a
              class="footerround_box "
              href="https://open.spotify.com/show/0n335tlzRaT8S9N2zyc6Kl"
              target="_blank"
            >
              <i class="fab fa-spotify" aria-hidden="true"></i
            ></a>
          </div>

          <div class="padNew">
            <a
              class="footerround_box"
              href="https://twitter.com/NovaDaoNFT"
              target="_blank"
            >
              <i class="fab fa-twitter" aria-hidden="true"></i
            ></a>
          </div>
        </div>
       
      </div>
      <div class="spacebox"></div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.5.2/web3.min.js" integrity="sha512-mYc+D+NmmyR0Gcrzyae7q5HguBCS4cBHAsIk7gGhu0/ZyGg4z2YZDjyR2YQA/IMCMTNs4mnlw3vVdERzewpekQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
