<nav class="navbar navbar-expand-lg custom_topheader navbar-dark fixed_header">
  <div class="container topcontainer">
    <a class="navbar-brand" routerLink="/">
      <img
        class="newlogo me-2"
        src="../../../assets/images/novadao_logo/icon.png"
        alt=""
      />
      <span class="newlogo_heading">Nova DAO</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse newcenterlinks" id="collapsibleNavbar">
      <div class="customalign">
        <ul class="navbar-nav custom_links">
          <li class="nav-item">
            <a
              class="nav-link top_links"
              routerLink="/home"
              [routerLinkActive]="['active']"
              >Home</a
            >
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link top_links" routerLink="/lore"
              >Lore
              <span class="cs_text">Coming Soon</span>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link top_links" routerLink="/mint"
              >Mint
              <!-- <span class="cs_text">Coming Soon</span> -->
            </a>
          </li>
          <li
            class="nav-item connect_wallet_mobile_view"
            *ngIf="!isConnected"
            (click)="showMetamaskContent()"
          >
            <a class="nav-link top_links" href="javascript:void(0)"
              >Connect Wallet</a
            >
          </li>
          <li class="nav-item connect_wallet_mobile_view" *ngIf="isConnected">
            <a class="nav-link top_links" href="javascript:void(0)">
              <span
                >{{ isConnected.substring(0, 8) }}...{{
                  isConnected.substring(
                    isConnected.length - 4,
                    isConnected.length
                  )
                }}</span
              >
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="connect_wallet_web_view">
      <button
        mat-flat-button
        class="newconnect_btn"
        *ngIf="!isConnected"
        (click)="showMetamaskContent()"
      >
        Connect Wallet
      </button>
      <button mat-flat-button class="newconnect_btn" *ngIf="isConnected">
        <span
          >{{ isConnected.substring(0, 8) }}...{{
            isConnected.substring(isConnected.length - 4, isConnected.length)
          }}</span
        >
      </button>
    </div>
  </div>
</nav>

<div class="main_section">
  <div class="new_topsection">
    <img class="newbiglogo" src="../../../assets/images/novadao_logo/logo_medium.png" alt="" />
    <p>The Decentralized Funding Network</p>
    <img
      class="animated_star2"
      src="../../../assets/images/starimg.png"
      alt="animate_img"
    />

    <button
      mat-flat-button
      class="newconnect_btn"
      *ngIf="!isConnected"
      (click)="showMetamaskContent()"
    >
      Connect Wallet
    </button>
    <img
      class="animated_star1"
      src="../../../assets/images/starimg.png"
      alt="animate_img"
    />
  </div>
  <!-- <div class="caurosel_section">
    <p>7500 unique characters for DAO membership</p>
    <img
      class="animated_star3"
      src="../../../assets/Images/starimg.png"
      alt="animate_img"
    />

    <owl-carousel-o [options]="customOptions" class="sliderimgcontainer">
      <ng-template carouselSlide class="sliderimgbox">
        <img
          class="sliderimg"
          src="../../../assets/Images/sliderimg1.png"
          alt=""
        />
      </ng-template>
      <ng-template carouselSlide class="sliderimgbox">
        <img
          class="sliderimg"
          src="../../../assets/Images/sliderimg2.png"
          alt=""
        />
      </ng-template>
      <ng-template carouselSlide class="sliderimgbox">
        <img
          class="sliderimg"
          src="../../../assets/Images/sliderimg3.png"
          alt=""
        />
      </ng-template>
      <ng-template carouselSlide class="sliderimgbox">
        <img
          class="sliderimg"
          src="../../../assets/Images/sliderimg4.png"
          alt=""
        />
      </ng-template>
      <ng-template carouselSlide class="sliderimgbox">
        <img
          class="sliderimg"
          src="../../../assets/Images/sliderimg5.png"
          alt=""
        />
      </ng-template>
      <ng-template carouselSlide class="sliderimgbox">
        <img
          class="sliderimg"
          src="../../../assets/Images/sliderimg6.png"
          alt=""
        />
      </ng-template>
      <ng-template carouselSlide class="sliderimgbox">
        <img
          class="sliderimg"
          src="../../../assets/Images/sliderimg7.png"
          alt=""
        />
      </ng-template>
      <ng-template carouselSlide class="sliderimgbox">
        <img
          class="sliderimg"
          src="../../../assets/Images/sliderimg8.png"
          alt=""
        />
      </ng-template>
      <ng-template carouselSlide class="sliderimgbox">
        <img
          class="sliderimg"
          src="../../../assets/Images/sliderimg9.png"
          alt=""
        />
      </ng-template>
    </owl-carousel-o>

    <button mat-stroked-button class="new_strokedbtn" routerLink="/mint">
      Mint
    </button>
    <img
      class="animated_star4"
      src="../../../assets/Images/starimg.png"
      alt="animate_img"
    />
  </div> -->
  <div class="bottomsection">
    <div class="daowork_container">
      <p class="daoheading">
        What is <span class="colortxt">NOVA</span>?
      </p>
      <p class="new_content">
      Nova is a tokenized solution for decentralized fundraising. Anyone can pledge $NOVA to their choice(s) from a library of projects curated by the governance DAO in return for a token share in the project. $NOVA is earned by staking our NFTs or bought on popular DEXs. Our aims are:
      </p>
      <div class="custom_points">
        <div class="points">
          <img
            class="me-2"
            src="../../../assets/images/novadao_logo/icon.png"
            alt=""
          />
          <p>
            Democratize early fundraising while making it permisionless & borderless.
          </p>
        </div>
        <div class="points">
          <img
            class="me-2"
            src="../../../assets/images/novadao_logo/icon.png"
            alt=""
          />
          <p>
            Harness the network effect of DAOs to create early stage growth flywheels.
          </p>
        </div>
        <div class="points">
          <img
            class="me-2"
            src="../../../assets/images/novadao_logo/icon.png"
            alt=""
          />
          <p>
            Create a community of the most innovative minds in Web3 across art, economics and code.
          </p>
        </div>
        <div class="strokedbtns d-flex">
          <a
            href="https://medium.com/@Nova.DAO/novadao-whitepaper-v2-44c9e9e1ddd"
            target="blank"
          >
            <button mat-stroked-button class="new_strokedbtn me-2 removespace">
              WHITEPAPER
            </button>
          </a>
          <a
            href="https://medium.com/@Nova.DAO/novanomics-78a1f9edf7d5"
            target="blank"
          >
            <button mat-stroked-button class="new_strokedbtn ms-2 removespace">
              $NOVANOMICS
            </button>
          </a>
        </div>
      </div>
      <!-- <div class="customnft_img">
        <img src="../../../assets/Images/nftimg.svg" alt="" />
      </div> -->
      <div class="new_roadmap">
        <p>Roadmap 1.0</p>
        <div class="new_roadmap_content">
          <div class="points new_roadmaps">
            <div class="line default"></div>
            <div class="line draw"></div>
            <div class="linebox">
              <img
                class="me-2"
                src="../../../assets/images/novadao_logo/icon.png"
                alt=""
              />
            </div>
            <div class="new_mapscontent">
              <p>25th May 2022:</p>
              <p class="custom_equal_height">
                <span class="colortext"> Mint day!!</span> 7500 NFTs at 0.1E each.
              </p>
            </div>
          </div>
          <div class="points new_roadmaps">
            <div class="linebox">
              <img
                class="me-2"
                src="../../../assets/images/novadao_logo/icon.png"
                alt=""
              />
            </div>
            <div class="new_mapscontent">
              <p>Mid-Late July 2022:</p>
              <p class="custom_equal_height">
                <span class="colortext">Staking goes live!</span>
                Stake to earn <span class="colortext">$NOVA</span>
              </p>
            </div>
          </div>
          <div class="points new_roadmaps">
            <div class="linebox">
              <img
                class="me-2"
                src="../../../assets/images/novadao_logo/icon.png"
                alt=""
              />
            </div>
            <div class="new_mapscontent">
              <p>Q3 2022:</p>
              <p class="custom_equal_height">
                <span class="colortext">Liquidity Pool goes live! 

                </span>Once sufficient staking rewards have been claimed, we will set up the LP for $NOVA.
              </p>
            </div>
          </div>
          <div class="points new_roadmaps">
            <div class="linebox">
              <img
                class="me-2"
                src="../../../assets/images/novadao_logo/icon.png"
                alt=""
              />
            </div>
            <div class="new_mapscontent">
              <p>Early Q4 2022:</p>
              <p class="custom_equal_height">
                <span class="colortext">DAO + Platform goes live!</span>
                We launch our DAO platform with voting protocols etc along with our application & fundraising platform.
              </p>
            </div>
          </div>
          <div class="points new_roadmaps">
            <div class="linebox">
              <img
                class="me-2"
                src="../../../assets/images/novadao_logo/icon.png"
                alt=""
              />
            </div>
            <div class="new_mapscontent">
              <p>Late Q4 2022:</p>
              <p class="custom_equal_height">
                First cohort of projects gets backed!
              </p>
            </div>
          </div>
          <div class="points new_roadmaps">
            <div class="linebox">
              <img
                class="me-2"
                src="../../../assets/images/novadao_logo/icon.png"
                alt=""
              />
            </div>
            <div class="new_mapscontent">
              <p>Q1 2023:</p>
              <p class="custom_equal_height">
                <span class="colortext"> Roadmap 2.0</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="distribution_chart">
        <img class="allscreenview" src="../../../assets/images/chart.svg" alt="" />
        <img  class="mobileview" src="../../../assets/images/chart_mob.svg" alt="">
      </div>
      <div class="knowteam_box">
        <img
          class="animated_star5"
          src="../../../assets/images/starimg.png"
          alt="animate_img"
        />
        <p class="newteamheading">Know the Team</p>
        <div class="new_members">
          <div class="team_members">
            <div class="member_img">
              <img src="https://github.com/novadaodev/team/blob/main/Cryptanosaurus/pfp.png?raw=true" alt="" />
            </div>
          <div class="member_title">
            <p>Raghav (aka Cryptanosaurus)</p>
          </div>
          <app-username [username]="Crypta"></app-username>
          </div>
  
          <div class="team_members">
            <div class="member_img">
              <img src="https://github.com/novadaodev/team/blob/main/CaptainJames/pfp.png?raw=true" alt="" />
            </div>
          <div class="member_title">
            <p>Captain James</p>
          </div>
          <app-username [username]="Captain"></app-username>
          </div>
          </div>
          <div class="new_members zMargin">
          <div class="team_members">
            <div class="member_img">
              <img src="https://github.com/novadaodev/team/blob/main/Sheikh/pfp.png?raw=true" alt="" />
            </div>
          <div class="member_title">
            <p>Sheikh</p>
          </div>
          <app-username [username]="Sheikh"></app-username>
          </div>
          <div class="team_members">
            <div class="member_img">
              <img src="https://github.com/novadaodev/team/blob/main/ioToad/pfp.png?raw=true" alt="" />
            </div>
          <div class="member_title">
            <p>ioToad</p>
          </div>
          <div class="fles">
          <app-username [username]="ioToad"></app-username>
          </div>
          </div>
        </div>
        
                  <!-- <div class="team_members">
            <div class="member_img">
              <img src="../../../assets/images/CaptainJames1.png" alt="" />
            </div>
            <div class="member_title">
              <p>Captain James</p>
            </div>
            <div class="member_detail">
              <p>
                I studied a marketing masters which led to a career working at
                the university, lecturing in subjects of marketing, branding and
                market research. I am currently doing my PhD in the consumer
                jouney of NFTs observing how consumers buy NFTs from aquisition
                to disposal. During the last year I have worked for a number of
                NFT projects, launched my own books (as NFTs) and now part of
                managing new projects within the space.
              </p>
            </div>
            <div class="newicons">
              <div>
                <a
                  class="round_box"
                  href="https://twitter.com/JamesDiMartino9"
                  target="_blank"
                >
                  <i class="fab fa-twitter" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="newfooterbox">
        <img
          class="animated_star6"
          src="../../../assets/images/starimg.png"
          alt="animate_img"
        />

        <div class="newlogofooter d-flex align-items-center">
          <img
            class="newlogo me-2"
            src="../../../assets/images/novadao_logo/icon.png"
            alt=""
          />
          <span class="newlogo_heading">Nova DAO</span>
        </div>
        <div class="new_footer_icons">
          <div>
            <a
              class="footerround_box"
              href="https://discord.gg/D7FKzVFztf"
              target="_blank"
            >
              <i class="fab fa-discord" aria-hidden="true"></i
            ></a>
          </div>
          <div>
            <a
              class="footerround_box ms-2 me-2"
              href="https://medium.com/@Nova.DAO"
              target="_blank"
            >
              <i class="fab fa-medium-m" aria-hidden="true"></i
            ></a>
          </div>
          <div>
            <a
              class="footerround_box"
              href="https://twitter.com/NovaDaoNFT"
              target="_blank"
            >
              <i class="fab fa-twitter" aria-hidden="true"></i
            ></a>
          </div>
        </div>
       
      </div>
      <div class="spacebox"></div>
    </div>
  </div>
</div>
