<nav class="navbar navbar-expand-lg custom_topheader navbar-dark fixed_header">
  <div class="container topcontainer">
    <a class="navbar-brand" routerLink="/">
      <img
        class="newlogo me-2"
        src="../../../assets/images/novadao_logo/icon.png"
        alt=""
      />
      <span class="newlogo_heading">Nova DAO</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse newcenterlinks" id="collapsibleNavbar">
      <div class="customalign">
        <ul class="navbar-nav custom_links">
          <li class="nav-item">
            <a
              class="nav-link top_links"
              routerLink="/"
              [routerLinkActive]="['active']"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link top_links" routerLink="/stake">Stake</a>
          </li>
          <li class="nav-item">
            <a class="nav-link top_links" routerLink="/mint"
              >Mint
            </a>
          </li>
	    <li class="nav-item">
	      <a class="nav-link top_links" routerLink="/education">Education</a>
	    </li>
          <li
            class="nav-item connect_wallet_mobile_view"
            *ngIf="!isConnected"
            (click)="showMetamaskContent()"
          >
            <a class="nav-link top_links" href="javascript:void(0)"
              >Connect Wallet</a
            >
          </li>
          <li class="nav-item connect_wallet_mobile_view " *ngIf="isConnected">
            <a class="nav-link top_links" href="javascript:void(0)">
              <span
                >{{ isConnected.substring(0, 8) }}...{{
                  isConnected.substring(
                    isConnected.length - 4,
                    isConnected.length
                  )
                }}</span
              >
            </a>
            
          </li>

        </ul>
      </div>
    </div>
    <div class="connect_wallet_web_view">
      <button

        class=" new_strokedbtn"
        *ngIf="!isConnected"
        (click)="showMetamaskContent()"
      >
        Connect Wallet
      </button>
      <button class="new_strokedbtn" *ngIf="isConnected">
        <span
          >{{ isConnected.substring(0, 8) }}...{{
            isConnected.substring(isConnected.length - 4, isConnected.length)
          }}</span
        >
      </button>
    </div>
  </div>
</nav>

<div class="main_section">

  <!-- header section -->
  
  <div class="bottomsection">
    <img class="newbiglogo" src="../../../assets/images/novadao_logo/logo_medium.png" alt="" />
    <h1>The Web3 Grants Network</h1>
    <br><br>
    <img
      class="animated_star2"
      src="../../../assets/images/starimg.png"
      alt="animate_img"
    />


    <img
      class="animated_star1"
      src="../../../assets/images/starimg.png"
      alt="animate_img"
    />
    <div class="popUp" id="ifraContainer">
    <div class="d-flex subscribe holo" >
      <p class="daoheading">
        Get NOVA news
      </p><br>
      <iframe src="https://thesupernova.substack.com/embed" class="" id="iframe" width="480" height="320" frameborder="0" scrolling="no"></iframe>
    </div>
    </div>
    <div class="daowork_container">
      <p class="daoheading">
        How does <span class="colortxt color_text">NOVA</span> work?
      </p>
      <p class="new_content">
        Nova is a DAO governed Grants Network & incubation platform for Web3 builders. We use $NOVA to fractionalize our treasury. These tokens can be burned in order to direct treasury funds to back chosen builders. $NOVA is earned by staking our NFTs and will also be available on DEXs. Our 3 main aims are:
      </p>
      <div class="custom_points">
        <div class="points">
          <img
            class="me-2"
            src="../../../assets/images/novadao_logo/icon.png"
            alt=""
          />
          <p>
            Bring early opportunities to all in an equal and permissionless manner.
          </p>
        </div>
        <div class="points">
          <img
            class="me-2"
            src="../../../assets/images/novadao_logo/icon.png"
            alt=""
          />
          <p>
            Use community and network in order to aid founders & develop projects.
          </p>
        </div>
        <div class="points">
          <img
            class="me-2"
            src="../../../assets/images/novadao_logo/icon.png"
            alt=""
          />
          <p>
            Create tangible frameworks for feasible DAO governance of future projects.
          </p>
        </div>
        <div class="d-flex d-bl">

          <a
            href="https://medium.com/@Nova.DAO/novadao-whitepaper-v2-44c9e9e1ddd"
            target="blank"
          >
            <button  class="new_strokedbtn bigger_btn">
              WHITEPAPER
            </button>
          </a>
        </div>
        <div class="d-flex d-bl">
          <a
            href="https://medium.com/@Nova.DAO/novanomics-78a1f9edf7d5"
            target="blank"
          >
            <button class="new_strokedbtn bigger_btn">
              $NOVANOMICS
            </button>
          </a>
        </div>
      </div>
      <!-- <div class="customnft_img">
        <img src="../../../assets/Images/nftimg.svg" alt="" />
      </div> -->
      <div class="new_roadmap">
        <br><br><br><br>
        <p>Roadmap 1.0</p>
        <div class="new_roadmap_content">
          <div class="points new_roadmaps">
            <div class="line default"></div>
            <div class="line draw"></div>
            <div class="linebox">
              <img
                class="me-2"
                src="../../../assets/images/novadao_logo/icon.png"
                alt=""
              />
            </div>
            <div class="new_mapscontent">
              <p>25th May 2022:</p>
              <p class="custom_equal_height">
                <span class="colortext"> Mint day!!</span> 7500 NFTs at 0.1E each.
              </p>
            </div>
          </div>
          <div class="points new_roadmaps">
            <div class="linebox">
              <img
                class="me-2"
                src="../../../assets/images/novadao_logo/icon.png"
                alt=""
              />
            </div>
            <div class="new_mapscontent">
              <p>Coming Soon!</p>
              <p class="custom_equal_height">
                <span class="colortext">Staking is in testing. Just making sure there are no kinks or volnerabilities before release.</span>
                Stake to earn <span class="colortext">$NOVA</span>
              </p>
            </div>
          </div>
          <div class="points new_roadmaps">
            <div class="linebox">
              <img
                class="me-2"
                src="../../../assets/images/novadao_logo/icon.png"
                alt=""
              />
            </div>
            <div class="new_mapscontent">
              <p>Q3 2022:</p>
              <p class="custom_equal_height">
                <span class="colortext">Liquidity Pool goes live! 

                </span>Once sufficient staking rewards have been claimed, we will set up the LP for $NOVA.
              </p>
            </div>
          </div>
          <div class="points new_roadmaps">
            <div class="linebox">
              <img
                class="me-2"
                src="../../../assets/images/novadao_logo/icon.png"
                alt=""
              />
            </div>
            <div class="new_mapscontent">
              <p>Early Q4 2022:</p>
              <p class="custom_equal_height">
                <span class="colortext">DAO + Platform goes live!</span>
                We launch our DAO platform with voting protocols etc along with our application & fundraising platform.
              </p>
            </div>
          </div>
          <div class="points new_roadmaps">
            <div class="linebox">
              <img
                class="me-2"
                src="../../../assets/images/novadao_logo/icon.png"
                alt=""
              />
            </div>
            <div class="new_mapscontent">
              <p>Late Q4 2022:</p>
              <p class="custom_equal_height">
                First cohort of projects gets backed!
              </p>
            </div>
          </div>
          <div class="points new_roadmaps">
            <div class="linebox">
              <img
                class="me-2"
                src="../../../assets/images/novadao_logo/icon.png"
                alt=""
              />
            </div>
            <div class="new_mapscontent">
              <p>Q1 2023:</p>
              <p class="custom_equal_height">
                <span class="colortext"> Roadmap 2.0</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="distribution_chart">
        <img class="allscreenview" src="../../../assets/images/chart.svg" alt="" />
        <img  class="mobileview" src="../../../assets/images/chart_mob.svg" alt="">
      </div>
      <div class="knowteam_box">
        <br><br><br><br>
        <img
          class="animated_star5"
          src="../../../assets/images/starimg.png"
          alt="animate_img"
        />
        <p class="newteamheading">Know the Team</p>
        <div class="new_members">
          <div class="holder">
          
        <app-username [username]="team" class="team"></app-username>
        </div>
        
      </div>
         
      <div class="newfooterbox">
        <img
          class="animated_star6"
          src="../../../assets/images/starimg.png"
          alt="animate_img"
        />

        <div class="newlogofooter d-flex align-items-center">
          <img
            class="newlogo me-2"
            src="../../../assets/images/novadao_logo/icon.png"
            alt=""
          />
          <span class="newlogo_heading">Nova DAO</span>
        </div>
        <div class="new_footer_icons">
          <div>
            <a
              class="footerround_box"
              href="https://discord.gg/D7FKzVFztf"
              target="_blank"
            >
              <i class="fab fa-discord" aria-hidden="true"></i
            ></a>
          </div>
          <div>
            <a
              class="footerround_box ms-2 me-2"
              href="https://medium.com/@Nova.DAO"
              target="_blank"
            >
              <i class="fab fa-medium-m" aria-hidden="true"></i
            ></a>
          </div>
          <div>
            <a
              class="footerround_box"
              href="https://twitter.com/NovaDaoNFT"
              target="_blank"
            >
              <i class="fab fa-twitter" aria-hidden="true"></i
            ></a>
          </div>
        </div>
       
      </div>
      <div class="spacebox"></div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.5.2/web3.min.js" integrity="sha512-mYc+D+NmmyR0Gcrzyae7q5HguBCS4cBHAsIk7gGhu0/ZyGg4z2YZDjyR2YQA/IMCMTNs4mnlw3vVdERzewpekQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	
