<app-menu-bar class="menu-bar"></app-menu-bar>

<div class="main_section app_mainsection">
    <div class="appsection">
      <div class="kingsLanding" id="kingsLanding">
      <div id="landing" class="lal">
      <div class="new_topsection">
        <img class="newbiglogo" src="../../../assets/images/novadao_logo/logo_medium.png" alt="" />
        <p class="Nt">Latest Projects</p>   
        <img
          class="animated_star2"
          src="../../../assets/images/starimg.png"
          alt="animate_img"
        />
        <img
          class="animated_star1"
          src="../../../assets/images/starimg.png"
          alt="animate_img"
        />
      
    </div>
    

    <!-- <div class="notLoggedHolder">
      <div *ngIf="!isConnected">
        <button
          mat-flat-button
          class="newconnect_btn wid1 btn_x"
          *ngIf="!isConnected"
          (click)="showMetamaskContent()"
        >
          Log in to Metamask to Continue...
        </button>
      </div> -->
  </div>
  <!-- <p class="Nt marN">Latest projects</p>    -->
    <div class="whole" > 
        <div class="buttonIn">
          <i class="fa fa-search Sicon" aria-hidden="true"></i>
          <input class="icon" type="text" id="enter"   [(ngModel)]="name">
          <button class="srchBtn">Search</button>
      
      </div>
      <div class="Zhol">
        <div class="inH" >
        <p class="lbl">Sort by</p>
        <div class="btnH" (click)="toggle()">
        <div   id="word" >
          latest
        </div><span  class="fa fa-chevron-down" ></span>
        </div>
        </div>
        <div id="downlatestPro"  class="dropdown-contentAp">
          <a  class="Ref" (click)="sortDiv()" >Name</a>
          <a  class="Ref" >Latest</a>
          <a  href="#" class="Ref">Recent</a>
        </div>
        </div>
      
      </div> 


      <!-- landing latest Projects -->
     
     
      <div id="landingLatest" id="MarFunLatest" class="MarFun" style="overflow-x:auto;" >
        
        <div id="Pin" class="Pin" *ngFor="let item of latestPro | itemnameFilter:name;let i = index" (click)="propos($event)" >
          <div class="PDiv" >
          <img class="imgPro" src="{{item['Img']}}"   >
            </div>
            <div class="PHolder">
              <p class="BD">{{i + 1}}</p>
          <p class="nomar leftt names">{{item['Name']}}</p>
          <p class="left">{{item['Description']}}</p>
          
      <div class="funreq">
        <div class="funreqin"><p class="funt">Required pledge</p></div>
        <div class="funreqint"><p class="funtT">{{item['Amount']}} $NOVA</p></div><br/>
        <label class="BD" value="">{{item['Key']}}<span>{{item['DescriptionT']}}</span><span name="SN">{{item['ProjectSN']}}</span></label>
      </div>
      
      <label class="Precieved">{{item['Percent']}}% recieved</label>
      <mat-progress-bar class="matPb" mode="determinate" value="{{item['Percent']}}"></mat-progress-bar>
      
      <div class="BV2nd">
        <label class="faded" ><span contenteditable="true" >0.0 </span> NOVA$</label>
        <button class="Fv" (click)="sendPledge($event);">Pledge</button>
      </div>
      </div>
      </div>
        
        
        </div>
        </div>
        
        </div>

        <!-- PROPOSALS LATEST (on click)-->
        <div class="appsection">
        <div class="hoho" id="prop" *ngFor="let p of prop" id="Data">
          <div class="babaHolder" > 
      
        <button class="backBtnn" (click)="backAppTwo()"><span class="fa fa-arrow-left PArr"></span>Back</button><br/>
      
          <div class="proposalLatest">
            
        <div class="holdeP">
          
          <div class="dOne">
            <img src="{{p['src']}}" class="IC">
          </div>
          <div class="dTwo">
            <p class="DaoP nomar Fpro">{{p['name']}}</p>
            <p class="PN">{{p['Description']}}</p>
            <div class="UHolder">
                <p class="PN BB2">Funding required</p>
              <p class="PN Ycolor">{{p['Amount']}}</p>
            </div>
            <div class="DApholder">
            
            <!-- <c-progress class="mb-3">
              <c-progress-bar [value]="25">25%</c-progress-bar>
            </c-progress> -->
            <div class="mat">
            <mat-progress-bar class="matPb" mode="determinate" value=50></mat-progress-bar>
            <div class="BV">
              <label contentEditable="true">0.0 NOVA$</label>
              <button class="VT">Pledge</button>
              </div>
            </div>
          </div>
      
        </div>
        
      </div>
      <p class="centered DaoP">More about the project</p>
      <p class="PN marT">{{p['DescriptionT']}}</p><br/>
      
      <p class="centered DaoP">Know the Team</p><br/>
      
      <div class="container flll" >
        <div class="newfooterbox newfooterboxedu" *ngFor="let Tea of Team">
          <p class="PN Fpro dashed" id="Tname">{{Tea['TeamMeber']}}</p>
          <p class="PN dashed" id="Trole">{{Tea['About']}}</p>
          <div class="newicons">
            <div class="me-2 dashed">
              <a
                class="round_box"
                href=""
                id="sty"
                target="_blank"
              >
                <i class="fab fa-linkedin" aria-hidden="true"></i
              ></a>
            </div>
            <div class="me-2">
              <a
                class="round_box Ycolor"
                href=""
                target="_blank"
              >
                <i class="fab fa-twitter" aria-hidden="true"></i
              ></a>
            </div>
            </div> 
        
          </div>
          </div>
          <div class="downPitch">
          <img src="{{p['src']}}" class="ICT">
          </div>
          </div>
          </div>
      
        </div>
        </div>
        <div class="ZnewBholder">
          <button class="newconnect_btn ZnewSBB " routerLink = "/pastProjects"><a  routerLink = "/pastProjects" class="ZnewA">View Past Projects</a></button>
        </div>
        <div class="spacebox"></div>
        <div class="container">
          <div class="newfooterbox">
            <img
              class="animated_star3"
              src="../../../assets/images/starimg.png"
              alt="animate_img"
            />
            <div class="newlogofooter d-flex align-items-center">
              <img
                class="newlogo me-2"
                src="../../../assets/images/novadao_logo/icon.png"
                alt=""
              />
              <span class="newlogo_heading">Nova DAO</span>
            </div>
            <div class="new_footer_icons">
              <div class="padNew">
                <a
                  class="footerround_box"
                  href="https://discord.gg/D7FKzVFztf"
                  target="_blank"
                >
                  <i class="fab fa-discord" aria-hidden="true"></i
                ></a>
              </div>
              <div class="padNew">
                <a
                  class="footerround_box "
                  href="https://medium.com/@Nova.DAO"
                  target="_blank"
                >
                  <i class="fab fa-medium-m" aria-hidden="true"></i
                ></a>
              </div>
              <div class="padNew">
                <a
                  class="footerround_box"
                  href="https://open.spotify.com/show/0n335tlzRaT8S9N2zyc6Kl"
                  target="_blank"
                >
                  <i class="fab fa-spotify" aria-hidden="true"></i
                ></a>
              </div>
  
              <div class="padNew">
                <a
                  class="footerround_box"
                  href="https://twitter.com/NovaDaoNFT"
                  target="_blank"
                >
                  <i class="fab fa-twitter" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="spacebox"></div>
  

</div>

        