<div class="stake_content custom-bg-stakeimg ">
 <div class="stake-topcontent container">
   <div class="staking-box">
    <div class="staking">
      <mat-card class="w-100 custom_matcard">
        <div class="stake-box">
          <p class="stake-heading custom_font_new">
            Stake :
          </p>
          <div class="stake_all_container">
            <div class="staking-container">
              <div class="custom_icon_address">
                <div class="image_icon">
                  <img src="../../../assets/Images/anav.jpg" alt="">
                </div>
                <div class="stake-address ms-3 me-3">
                  <a href="">bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh</a>
                </div>
              </div>
              <div class="unstake-btn">
                <button mat-flat-button class="unstake-custom-btn" >Unstake</button>
              </div>
            </div>
            <div class="staking-container">
              <div class="custom_icon_address">
                <div class="image_icon">
                  <img src="../../../assets/Images/anav.jpg" alt="">
                </div>
                <div class="stake-address ms-3 me-3">
                  <a href="">bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh</a>
                </div>
              </div>
              <div class="unstake-btn">
                <button mat-flat-button class="unstake-custom-btn" >Unstake</button>
              </div>
            </div>
            <div class="staking-container">
              <div class="custom_icon_address">
                <div class="image_icon">
                  <img src="../../../assets/Images/anav.jpg" alt="">
                </div>
                <div class="stake-address ms-3 me-3">
                  <a href="">bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh</a>
                </div>
              </div>
              <div class="unstake-btn">
                <button mat-flat-button class="unstake-custom-btn" >Unstake</button>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
      <mat-card class="w-100 custom_matcard">
        <div class="rewards-box">
          <div class="stake">
            <span class="stake-heading custom_font_new">
              Total Rewards :
            </span>
            <span class="textcolor"> 20 </span>

          </div>
        </div>
      </mat-card>
      <mat-card class="w-100 custom_matcard">
        <div class="availabilty-stake-box">
          <span class="stake-heading custom_font_new">
            Available to Stakes :
           </span>
           <mat-form-field appearance="standard">
             <mat-label class="select-stake-txt custom_font_new">Select your Stake</mat-label>
             <mat-select>
               <mat-option value="option1">
                <div class="stake option-stake stake_option_custom">
                    <img class="img-icon me-3" src="../../../assets/Images/anav.jpg" alt="">
                    <p>
                      bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh</p>
                </div>
               </mat-option>
             </mat-select>
           </mat-form-field>
      </div>
      </mat-card>
      <div class="custom-button">
        <div class="stake-button ">
          <button mat-flat-button class="unstake-custom-btn stake-btn" >Stake</button>
        </div>
      </div>
     </div>
   </div>
 </div>
  <footer class="home-footer-new">
    <p>
      As the genesis NFT drop for our on chain E-commerce marketplace, the Nova
      Deus collection stands as our first-free to mint NFTs. Intended as a proof
      of concept for how we envision real world commerce to be transformed on
      chain, they will provide passive staking rewards fueled by activity on our
      marketplace.
    </p>
    <div class="social-link-new">
      <p class="mb-0">Our Social Presence:</p>
      <a href="https://discord.gg/D7FKzVFztf" target="_blank">
        <i class="fab fa-discord icons-new"></i>
      </a>
      <a href="https://www.instagram.com/inkblot_collective/ " target="_blank">
        <i class="fab fa-instagram icons-new"></i>
      </a>
      <a href="https://twitter.com/NovaDaoNFT" target="_blank">
        <i class="fab fa-twitter icons-new"></i>
      </a>
      <a href="https://medium.com/@InkBlot_Studios" target="_blank">
        <i class="fab fa-medium-m icons-new"></i>
      </a>
    </div>
  </footer>
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="medium"
      color="#fff"
      type="square-jelly-box"
      [fullScreen]="true"
      ><p style="color: white">Loading...</p></ngx-spinner
    >
</div>


