.main_section {
    background-image: url("../../../assets/images/newhomebg_opt.png");
    background-color: #0d0116 !important;
    color: #ffffff !important;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 120px 20px 0px 20px;
}

.container {
    padding: 0px !important;
}
.stakingLoading
{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}  
.wid1
{
    max-width:285px;
   
}

@media (max-width: 767px) {
    .container {
        padding: 20px !important;
    }
}

.stake_mainsection {
    margin-top: 50px;
}  
  
.stakingsection {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1150px;
    padding: 45px;
    border-radius: 18px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06)), rgba(13, 1, 22, 0.9);
}
.newfooterbox {
    margin-top: 4rem;
}




.staking-container{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0px 10px;
    border-bottom: 1px solid white;
}
.custom_matcard{
    background-color: #8080806b;
    margin-bottom: 35px;
}
img.img-icon{
        width:35px;
        border-radius: 50%;
    }
.stake-topcontent{
    height:100vh;
}
.image_icon{
    img{
        width:40px;
        border-radius: 50%;

    }
}
.stake_all_container{
    overflow-y: auto;
    height: 120px;
    overflow-x: auto;
}
.stake-button{
    margin:0 auto;
}
.staking{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    max-width: 600px;
    margin-left: -30px;
    border-radius: 10px;
    border: 1px solid #ffde59;
    padding: 25px;
    box-shadow: #ffc1075e 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;
}
.stake-heading{
    font-size: 24px;
    font-weight: 600;
    color: #ffde59;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.stake-address{
    a{
        font-size: 15px !important;
        color:#fff !important;
        cursor: pointer !important;
        text-decoration: none;
        overflow: hidden;
        width: 200px;
        text-overflow: ellipsis;
    }
}
.stake-address{
    a:hover{
        color: #0de7fd !important;
        transform: scale(1.1) !important;
        
    }
}
.stake_all_container{
    .staking-container:nth-child(3){
        border-bottom: none;

    }
}
.unstake-custom-btn {
    color: #fff;
    background: #d6a443;
    border: 2px solid #e7b245 !important;
    border-radius: 5px !important;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 4px !important;
    line-height: 18px !important;
}
.unstake-custom-btn:hover{
    opacity: 0.8;
}
.textcolor{
    color:#fff;
    font-size: 20px;
}
.staking-box{
    display: flex;
    align-items: center;
    height: 100%;
}
.availabilty-stake-box .mat-form-field-infix{
    font-size: 20px !important;
    border-top: unset !important;
    display: unset !important;
}
.select-stake-txt{
    color: #ffde59 !important;
    font-size: 16px !important;
    letter-spacing: 1px;
}
.optiontxtcolor{
    color: #000 !important;
    font-size: 16px;
}
.availabilty-stake-box .mat-select-value{
    color:#fff;
    font-size: 16px !important;
}
.stake-btn{
    margin: 0 auto;
    width: 200px !important;
}
.availabilty-stake-box .mat-select-arrow{
    color:#fff;
    width:10px;
}
.availabilty-stake-box .mat-form-field-appearance-standard .mat-form-field-underline{
    background-color: #fff;
}
.custom-button{
    display: flex;
    justify-content: space-between;
}



// MEDIA QUERIES

@media (max-width:767px){
    .unstake-button{
        margin-top: 20px !important;
        margin: 0 auto;
    }
    .stake-button{
        margin:0 auto;
    }
    .staking{
        margin-left:0px !important;
        padding: 18px;
    }
    .stake-topcontent{
        height: unset;
        padding-top: 20px;
    }
    .staking-box{
        display: unset;
        
    }
    .unstake-btn {
        margin-left: 0px;
    }
    .stake-address{
        a{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre-wrap;
            word-break: break-all;
            width: 100%;
    
        }

    }
    .optiontxtcolor{
        p{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;
            display: block;   
        }

    }
    .stake-address{
        margin-bottom:15px;
    }
    .custom-button{
        flex-direction: column !important;
    }
}

@media (min-width:768px)and (max-width:1024px){
.staking-box{
    justify-content: center;
}
.staking{
    margin-left:0px;
    margin-top:150px !important;
}
}


@-moz-document url-prefix() {
    .custom_font_new {
        -webkit-text-stroke: 2px #e7dc45d1;
    }
}
.select-stake .mat-select-panel{
    max-width: 200px !important;
}
.stake_option_custom{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    p{
        margin-bottom: 0px !important;
        font-size: 16px;
    }
}


.availabilty-stake-box .mat-form-field{
    width:100%;
}
.custom_icon_address{
    display: flex;
    align-items: center;
}



@media (max-width:767px){
    .stake_option_custom{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        p{
            margin-bottom: 0px;
            width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 16px;
        }
    }
}

@media(max-width:425px){
    .staking-container{
        flex-direction: column;
        justify-content: center;
    }
    .custom_icon_address{
        align-items: flex-start;
    }
    .stake-address{
     margin-bottom: 0px !important;
    }
    .unstake-btn{
        width:100%;
    }
    .unstake-btn{
        button{
            width:96%;
        }
      
    }
    .stake-heading{
        margin-bottom: 0px !important;
    }
}
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
	background-image: url("../../../assets/images/newhomebg_opt.png");
    background-color: black;
	color: white;
	padding: 0;
	margin: 0;
	text-align: center;
}

.stream {
	width: 70%;
    margin-top:9rem !important;
	display: inline-block;
}

.heading {
	color: gold;
	width: 100%;
}

.value {
	color: white;
	font-size: 2em;
}

.mintButton {
	display: inline-block;
	background-color: #300038;
	border: none;
	color: white;
	text-align: center;
	height: 3em;
	width: 32%;
}

.mintButton:hover {
	background-color: #00FFA0;
}

.full {
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 195px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.thirds {
	display: inline-block;
	width: 31%;
	padding: 5px;
	text-align: center;
	height: 400px;
}

.twothirds {
	display: inline-block;
	width: 62%;
	vertical-align: top;
	padding: 5px;
	text-align: center;
	height: 400px;
}

.halfs {
	display: inline-block;
	width: 48%;
	padding: 5px;
	text-align: center;
}

.container {
	background-color: #200028;
	border-radius: 20px;
	height: 100%;
}


/* Revision for Mobile devices only */
@media only screen and (max-width: 600px) {	
	.stream {
		width: 98%;
	}
	
	.thirds {
		width: 100%;
	}
	
	.twothirds {
		width: 100%;
	}
	
	.halfs {
		width: 100%;
	}
}