  <app-menu-bar class="menu-bar"></app-menu-bar>

  <div class="main_section app_mainsection">
      <div class="appsection">
        <div id="landing">
        <div class="new_topsection">
          <img class="newbiglogo" src="../../../assets/images/novadao_logo/logo_medium.png" alt="" />
          <p >Let the age of Web3 Creation begin!</p>
          
          <img
            class="animated_star2"
            src="../../../assets/images/starimg.png"
            alt="animate_img"
          />
          <img
            class="animated_star1"
            src="../../../assets/images/starimg.png"
            alt="animate_img"
          />
        
      </div>
      
      <div class="DContainer">
          <div class="D2Container" (click)="applicationPage()">
              <div class="D3Container">
              <img src="../../../assets/images/Allapp.png" width="74px"/>
              <p>All Applications</p>
              <p class="grayMin"><span>{{selLen['0'].Item}}</span> active Projects</p><br/>
              <button class="new_btn_D"> View All <span class="fa fa-arrow-right marD"></span></button>
              </div>   
          </div>
          <div class="D2Container" (click)="selectedProjects()">
              <div class="D3Container">
                  <img src="../../../assets/images/Selected.png" width="74px"/>
                  <p>Selected Projects</p>
                  <p class="grayMin"><span>{{selLen['1'].selected}}</span> active Projects</p><br/>
                  <button class="new_btn_D">View <span class="fa fa-arrow-right marD "></span></button>
              </div>    
          </div>
          <div class="D2Container" (click)="ProAddress()">
              <div class="D3Container">
              <img src="../../../assets/images/Proposal.PNG" width="74px" />
              <p>Proposals</p>
              <p class="grayMin Hid">this is pro</p><br/>
              <button class="new_btn_D">View SnapShot <span class="fa fa-arrow-right marD rotD"></span></button>
          </div>
      </div>        
  </div>    
  <div class="DContainer Ti">
      <div class="D2Container BackD">
          <h1 class="marTD">What's new</h1>
          </div>
  </div>
  <div class="DContainer">
      <div class="D2Container PaD">
          <div class="D3Container">
          <h4>The DAO recently voted to launch a new NFT collection</h4>
          <p class="siD">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum egestas massa nec porta. Mauris posuere luctus felis, sit amet volutpat augue. Duis eros tortor, malesuada in enim quis, sagittis porta mauris.</p>
          <a class="YelD">View on SnapShot <span class="fa fa-arrow-right YelD "></span></a>
      </div>
      </div>
      <div class="D2Container MarL"><img src="../../../assets/images/Midd.PNG" width="100%" height="100%"></div>
      <div class="D2Container PaD">
          <div class="D3Container">
              <h4>Everything you need to know about PFPs</h4>
              <p class="siD">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum egestas massa nec porta. Mauris posuere luctus felis, sit amet volutpat augue. Duis eros tortor, malesuada in enim quis, sagittis porta mauris.</p>
              <a class="YelD">View on SnapShot <span class="fa fa-arrow-right YelD rotD"></span></a>    
          </div>
      </div>
      </div>

      <div class="DContainer marTD2">
          <div class="D2Container PaD">
              <div class="D3Container">
                  <h4>Everything you need to know about PFPs</h4>
                  <p class="siD">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum egestas massa nec porta. Mauris posuere luctus felis, sit amet volutpat augue. Duis eros tortor, malesuada in enim quis, sagittis porta mauris.</p>
                  <a class="YelD">View on SnapShot <span class="fa fa-arrow-right YelD rotD"></span></a>    
              </div>
          </div>    
          
          
          <div class="D2Container PaD">
              <div class="D3Container">
                  <h4>Everything you need to know about PFPs</h4>
                  <p class="siD">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum egestas massa nec porta. Mauris posuere luctus felis, sit amet volutpat augue. Duis eros tortor, malesuada in enim quis, sagittis porta mauris.</p>
                  <a class="YelD">View on SnapShot <span class="fa fa-arrow-right YelD rotD"></span></a>    
              </div>
          </div>
      
          <div class="D2Container PaD">
              <div class="D3Container">
                  <h4>Everything you need to know about PFPs</h4>
                  <p class="siD">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum egestas massa nec porta. Mauris posuere luctus felis, sit amet volutpat augue. Duis eros tortor, malesuada in enim quis, sagittis porta mauris.</p>
                  <a class="YelD">View on SnapShot <span class="fa fa-arrow-right YelD rotD"></span></a>    
              </div>
          </div>
          </div>
          </div>
          
          <!-- All Applications Page -->
        
          <div id="AppPage" class="AppPage" >  
            <div class="notLoggedHolder">
              <div *ngIf="!isConnected">
                <button
                  mat-flat-button
                  class="newconnect_btn wid1 btn_x"
                  *ngIf="!isConnected"
                  (click)="showMetamaskContent()"
                >
                  Log in to Metamask to Continue...
                </button>
              </div>
          </div>
          <div *ngIf="isConnected && !coreTeam">
            <h3>This Page is for Core team members only</h3><br/>
            <h4>please contact us on discord if you have any questions</h4>
          </div>
            <div *ngIf="isConnected && coreTeam">
              <div class="babaHolder" > 
            <button class="backBtn" (click)="back()"><span class="fa fa-arrow-left PArr"></span>Back</button><br/>
            </div>
            <p class="Allapp">All application</p>
              <p class="Oteam">only for core team</p>
              <!-- <div>
                <input type="text"> -->
                <div class="whole"> 
                <div class="buttonIn">
                  <i class="fa fa-search Sicon" aria-hidden="true"></i>
                  <input class="icon" type="text" id="enter" [(ngModel)]="name">
                  <button class="srchBtn">Search</button>
              
              </div>
              <div >
                <div class="inH" >
                <p class="lbl">Sort by</p>
                <div class="btnH">
                <div  (click)="toggle()" id="word">
                  latest
                </div><span (click)="toggle()"  class="fa fa-chevron-down"></span>
                </div>
                </div>
                <div id="down"  class="dropdown-contentAp">
                  <a  class="Ref" (click)="sortTable()">Name</a>
                  <a  class="Ref" (click)="sortTableAmount()">Latest</a>
                  <a  href="#" class="Ref">Recent</a>
                </div>
                </div>
              
              </div>
              <div style="overflow-x:auto;" >
              <table id="myTable" *ngIf="isConnected">
                <tr>
                  <th>Name of Project</th>
                  <th>Ask amount</th>
                  <th>Time remaining</th>
                  <th>Votes recieved</th>
                  <th>Your Vote</th>
                  </tr>
                  <tr *ngFor="let item of arry | itemnameFilter:name;let i = index">
                    <th class="Dno" scope="row">{{i+1}}</th>
                   
                    <td>
                      <img class="imgPro" src="{{item['Img']}}">
                      <label class="BD" value="">{{item['Key']}}<span>{{item['DescriptionT']}}</span></label>
                        <label class="PN" class="name" (click)="tests($event)">{{item['Name']}}</label><br>
                      <a class="fo" (click)="myCallbackFunctiontbl($event)">Read description</a><br>
                      
                      <label class="BD">{{item['Description']}}</label>
                      <a class="dessG fo2" id="dessG" >{{item['Description']}}</a>
                    </td>
                    <td class="CenCen">
                      <label class="Ycolor" >{{item['Amount']}} $NOVA</label>
                      <!-- {{item['Amount']}} $NOVA -->
                    </td>
                    <td class="CenCen">
                      <label class="time">{{item['Time']}} </label>
                    </td>
                    <td >
                      <div class="arrow-holder">
                      <label><span class="padA"><img src="../../../assets/images/Vector.svg"></span><span id="vote">{{item['upVote']}}</span></label>
                      <label><span class="padA" ><img src="../../../assets/images/vectorDown.svg"></span>{{item['downVote']}}</label>
                        </div>
                    </td>
                    <td class="fl">
                      <button class="upvote" (click)="myCallbackFunctionupVote($event)"><span class="padA"><img src="../../../assets/images/Vector.svg"></span>Upvote</button>
                      <button class="downvote" (click)="myCallbackFunctionDownVote($event)"><span class="padA" ><img src="../../../assets/images/vectorDown.svg"></span>Downvote</button>
                    </td>
                    <td class="BN INVis">
                      {{item['Team']}}
                      </td>
                  </tr>
                </table>
                
                </div>
                </div>
                </div>
                <!-- </div> --> 
            <!-- <ul *ngFor="let item of arry">
              <li>{{item['Item']}}</li>
            </ul>
        -->

        <div id="selectedAppPage" class="selectedAppPage">  
          <div class="notLoggedHolder">
            <div *ngIf="!isConnected">
              <button
                mat-flat-button
                class="newconnect_btn wid1 btn_x"
                *ngIf="!isConnected"
                (click)="showMetamaskContent()"
              >
                Log in to Metamask to Continue...
              </button>
            </div>
        </div>
          <div class="babaHolder" > 
          <button class="backBtn" (click)="back()"><span class="fa fa-arrow-left PArr"></span>Back</button><br/>
          </div>
          <div *ngIf="isConnected">
          <p class="Allapp">Selected Projects</p>
          <p class="Oteam"><span>16</span>selected proposals - These proposals have been selected by the core team </p>
          <!-- <div>
            <input type="text"> -->
            <div class="whole">
            <div class="buttonIn">
              <i class="fa fa-search Sicon" aria-hidden="true"></i>
              <input class="icon" type="text" id="enter"  [(ngModel)]="name">
              <button class="srchBtn">Search</button>
          
          </div>
          <div >
            <div class="inH" >
            <p class="lbl">Sort by</p>
            <div class="btnH">
            <div  (click)="toggleSelected()" id="wordT" >
              latest
            </div><span (click)="toggle()"  class="fa fa-chevron-down"></span>
            </div>          
            </div>
            <div id="downT"  class="dropdown-contentAp">
              <a   class="Ref" (click)="sortTableT()">Name</a>
              <a   class="Ref">Latest</a>
              <a   class="Ref">Recent</a>
            </div>
            </div>
          </div>
          <div style="overflow-x:auto;" >
          <table id="myTableT">          
            <tr>
              <th>Name of Project</th>
              <th>Ask amount</th>
              <th>Time remaining</th>
              <th>Votes recieved</th>
              <th>Your Vote</th>
              </tr>
              <tr *ngFor="let item of selected | itemnameFilter:name;let i = index" >
                <td class="Wid">
                  <!-- <th class="Dno" scope="row">{{i+1}}</th> -->
                  <img class="imgPro" src="{{item['Img']}}">
                  <label class="BD" value="">{{item['Key']}}<span>{{item['DescriptionT']}}</span></label>
                    <label class="PN" class="name" (click)="tests($event)">{{item['Name']}}</label><br>
                  <a class="fo" (click)="myCallbackFunctiontbl($event)">Read description</a><br>
                  
                  <label class="BD">{{item['Description']}}</label>
                  <a class="dessG fo2" id="dessG" >{{item['Description']}}</a>
                </td>
                <td class="CenCen">
                  <label class="Ycolor">{{item['Amount']}} $NOVA</label>
                  <!-- {{item['Amount']}} $NOVA -->
                </td>
                <td class="CenCen">
                  <label>{{item['Time']}} </label>
                </td>
                <td >
                  <div class="arrow-holder">
                  <label><span class="padA"><img src="../../../assets/images/Vector.svg"></span><span id="vote">{{item['upVote']}}</span></label>
                  <label><span class="padA" ><img src="../../../assets/images/vectorDown.svg"></span>{{item['downVote']}}</label>
                    </div>
                </td>
                <td class="fl">
                  <button class="upvote"><span class="padA"><img src="../../../assets/images/Vector.svg"></span>Upvote</button>
                  <button class="downvote" ><span class="padA" ><img src="../../../assets/images/vectorDown.svg"></span>Downvote</button>
                </td>
              </tr>
            </table>
            </div>
            </div>
            </div>

        <!-- ----------------SelectedProjects--------------- -->
      <div class="ProposalPage" id="ProposalPage" >
        <div class="hoho" *ngFor="let p of proposal">
          <div class="babaHolder" > 
        <button class="backBtn" (click)="backApp()"><span class="fa fa-arrow-left PArr"></span>Back</button><br/>
        </div>
        <div class="holdeP">
          <div class="dOne">
            <img src="{{p['src']}}" class="IC">
          </div>
          <div class="dTwo">
            <p (click)="ProposalPage">{{p['name']}}</p>
            <div class="UHolder">
              <p class="PN BB2">Funding required</p>
              <p class="PN Ycolor">{{p['Amount']}}</p>
            </div>
            <div class="DApholder">
            <p class="PN">{{p['Description']}}</p>
            <!-- <c-progress class="mb-3">
              <c-progress-bar [value]="25">25%</c-progress-bar>
            </c-progress> -->
            <div class="mat">
            <mat-progress-bar class="matPb" mode="determinate" value=50></mat-progress-bar>
            <div class="BV">
              <label>0.0 VOTES</label>
              <button class="VT">Vote</button>
              </div>
            </div>
          </div>

        </div>
        
      </div>
      <p style="margin-top:2rem">More about the project</p>
      <p class="PN">{{p['DescriptionT']}}</p><br/>

      <p>Know the Team</p><br/>

      <div class="container flll" >
        <div class="newfooterbox newfooterboxedu" *ngFor="let Tea of Team">
          <p class="PN" id="Tname">{{Tea['TeamMeber']}}</p>
          <p class="PN" id="Trole">{{Tea['About']}}</p>
          <div class="newicons">
            <div class="me-2">
              <a
                class="round_box"
                href=""
                id="sty"
                target="_blank"
              >
                <i class="fab fa-linkedin" aria-hidden="true"></i
              ></a>
            </div>
            <div class="me-2">
              <a
                class="round_box Ycolor"
                href=""
                target="_blank"
              >
                <i class="fab fa-twitter" aria-hidden="true"></i
              ></a>
            </div>
            </div> 
        
          </div>
          </div>
          <div class="downPitch">
          <img src="{{p['src']}}" class="imwi">
          </div>

        </div>
</div>

          <!-- 
btn click proposal -->
<div class="ProposalPage" id="PDT" >
  <div class="notLoggedHolder">
    <div *ngIf="!isConnected">
      <button
        mat-flat-button
        class="newconnect_btn wid1 btn_x"
        *ngIf="!isConnected"
        (click)="showMetamaskContent()"
      >
        Log in to Metamask to Continue...
      </button>
    </div>
</div>
<div class="nodataHolderTop" *ngIf="!data && isConnected" id="noData">
  <div class="nodataHolder">
  <button class="backBtn" (click)="backAppTwo()"><span class="fa fa-arrow-left PArr"></span>Back</button><br/>
  <h3>There are no proposals related with this UserAddress</h3>
  <a  routerLink = "/application">Application page</a>
  </div>
  </div> 

  <div class="hoho" *ngFor="let p of proposalAddress" id="Data">
    <div class="babaHolder" *ngIf="isConnected"> 

  <button class="backBtnn" (click)="backAppTwo()"><span class="fa fa-arrow-left PArr"></span>Back</button><br/>

    <div >
      
  <div class="holdeP">
    
    <div class="dOne">
      <img src="{{p['src']}}" class="IC">
    </div>
    <div class="dTwo">
      <p (click)="ProposalPage">{{p['Name']}}</p>
      <div class="UHolder">
        <p class="PN BB2">Funding required</p>
        <p class="PN Ycolor">{{p['Amount']}}</p>
      </div>
      <div class="DApholder">
      <p class="PN">{{p['Description']}}</p>
      <!-- <c-progress class="mb-3">
        <c-progress-bar [value]="25">25%</c-progress-bar>
      </c-progress> -->
      <div class="mat">
      <mat-progress-bar class="matPb" mode="determinate" value=50></mat-progress-bar>
      <div class="BV">
        <label>0.0 VOTES</label>
        <button class="VT">Vote</button>
        </div>
      </div>
    </div>

  </div>
  
</div>
<p class="centered">More about the project</p>
<p class="PN">{{p['DescriptionT']}}</p><br/>

<p class="centered">Know the Team</p><br/>

<div class="container flll" >
  <div class="newfooterbox newfooterboxedu" *ngFor="let Tea of TeamAddress">
    <p class="PN" id="Tname">{{Tea['TeamMeber']}}</p>
    <p class="PN" id="Trole">{{Tea['About']}}</p>
    <div class="newicons">
      <div class="me-2">
        <a
          class="round_box"
          href=""
          id="sty"
          target="_blank"
        >
          <i class="fab fa-linkedin" aria-hidden="true"></i
        ></a>
      </div>
      <div class="me-2">
        <a
          class="round_box Ycolor"
          href=""
          target="_blank"
        >
          <i class="fab fa-twitter" aria-hidden="true"></i
        ></a>
      </div>
      </div> 
  
    </div>
    </div>
    <div class="downPitch">
    <img src="{{p['src']}}" class="imwi">
    </div>
    </div>
    </div>
    </div>
   

    </div>
    </div>

          <!-- 
btn click proposal -->


<!-- btn click proposal -->


  <div class="container">
      <div class="newfooterbox">
        <img
          class="animated_star3"
          src="../../../assets/images/starimg.png"
          alt="animate_img"
        />
        <div class="newlogofooter d-flex align-items-center">
          <img
            class="newlogo me-2"
            src="../../../assets/images/novadao_logo/icon.png"
            alt=""
          />
          <span class="newlogo_heading">Nova DAO</span>
        </div>
        <div class="new_footer_icons">
          <div>
            <a
              class="footerround_box"
              href="https://discord.gg/D7FKzVFztf"
              target="_blank"
            >
              <i class="fab fa-discord" aria-hidden="true"></i
            ></a>
          </div>
          <div>
            <a
              class="footerround_box ms-2 me-2"
              href="https://medium.com/@Nova.DAO"
              target="_blank"
            >
              <i class="fab fa-medium-m" aria-hidden="true"></i
            ></a>
          </div>
          <div>
            <a
              class="footerround_box ms-2 me-2"
              href="https://open.spotify.com/show/0n335tlzRaT8S9N2zyc6Kl"
              target="_blank"
            >
              <i class="fab fa-spotify" aria-hidden="true"></i
            ></a>
          </div>

          <div>
            <a
              class="footerround_box"
              href="https://twitter.com/NovaDaoNFT"
              target="_blank"
            >
              <i class="fab fa-twitter" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="spacebox"></div>
  </div>
